<div class="bottom-opnion-container">

        <div class="bottom-intro-container">
                <div class="opnion-main-description-first"></div>
                  <div class="box-comunity">
                          <div>
                            <h1>COMUNIDADE
                                  <text-work>ESPAÇO DE TRABALHO</text-work>
                              </h1>
                         </div>
                        
                          <h2>MEMBERSHIP
                                <text-work-subtitle>HOUSE</text-work-subtitle>
                        </h2>
                         <text-work-subtitle2>STORE</text-work-subtitle2>
                        <text-work-subtitle3 >WORK</text-work-subtitle3>
                </div>
                
        </div>
       
</div>

