<div class="bottom-opnion-container">
                <div class="container-information-footer">
                         <img src="/assets/images/background-footer-left.png" class="background-footer-left">
                        <img src="/assets/images/background-footer-right.png" class="background-footer-right">
                         <div class = "container-background-information">
                                 
                                 <div class = "container-title-information">

                                    <h1>
                                      Comunidade
                                   </h1>

                                   <h2>
                                        Membership
                                   </h2>
                                </div>

                                <div class = "container-title-information">

                                   <h1>
                                     Espaço de Trabalho
                                  </h1>

                                   <h2>
                                     House
                                   </h2>

                                   <h2>
                                     Store
                                   </h2>

                                   <h2>
                                     Work
                                   </h2>
                              </div>

                              <div class = "container-title-information">

                                   <h1>
                                     Conhecimento
                                  </h1>

                                   <h2>
                                     Acelere.me
                                   </h2>
                              </div>

                              <div class = "container-title-information">

                                   <h1>
                                     Contato
                                  </h1>
                                  <h2>
                                     55lab.co@email.br
                                  </h2>
                                   <h2>
                                     (61) - 00000 - 00000
                                   </h2>

                                   <div class= "social-media-container">
                                     <a class="facebook-button" href="{{contentObject.socialMedia.facebook.url}}">  </a>
                                     <a class="instagram-button" href="{{contentObject.socialMedia.instagram.url}}">  </a>
                              </div>
                      </div>
                </div>
        </div>
</div>

