<div class="community-relationship-container">
    <div class="community-relationship-intro-container">
        <div class="community-relationship-intro">
            <div class="relationship-main-description">
                <h1>{{contentMainObject.description}}</h1>
            </div>
            <div class="relationship-main-picture">
            </div>
            <div class="relationship-detail-main-picture">
                </div>
            <div class="relationship-main-title">
                <h1>{{contentMainObject.title}}</h1>
            </div>
        </div>
    </div>
</div>