<div class="community-benefits-container">

    <div class="divider">
        <div class="divider-rect">
        </div>
    </div>

    <div class="title">
        <h1>
        VEJA MAIS BENEFÍCIOS
        </h1>
    </div>

    <div class="benefits-content-container">
    </div>

    <div class="actions-container">
    </div>

</div>