<div class="community-our-team-container">

    <div class="divider">
        <div class="divider-rect">
        </div>
    </div>

    <div class="title">
        <h1>
            VENHA SER DA NOSSA EQUIPE
        </h1>
        <div class="title-image">
        </div>
    </div>

    

    <div class="our-team-content-container">
        <div class="our-team-content-item">
            <img src="/assets/images/icon_partner.png" class="our-team-content-image">
                
            <div class="our-team-content-title">
                <h1>
                    PARCEIRO
                </h1>
            </div>
            <div class="our-team-content-description">
                <h1>
                    Empresas que querem ser nossos parceiros, poderam ter vantagens especiais.
                </h1>
            </div>
             <button class="our-team-content-first-button">
                 <h1>
                    FAÇA PARTE
                </h1>
            </button>    
        </div>

        <div class="our-team-content-item">
            <img src="/assets/images/icon_ franchisee.png" class="our-team-content-image">
                
            <div class="our-team-content-title">
                <h1>
                    FRANQUIADO
                </h1>
            </div>
            <div class="our-team-content-description">
                <h1>
                    Gostou do nosso projeto e gostaria de levar pra sua cidade, temos um pacote especial.
                </h1>
            </div>
             <button class="our-team-content-second-button">
                 <h1>
                    FAÇA PARTE
                </h1>
            </button>    
        </div>

        <div class="our-team-content-item">
            <img src="/assets/images/icon_mentor.png" class="our-team-content-image">
                
            <div class="our-team-content-title">
                <h1>
                    MENTOR
                </h1>
            </div>
            <div class="our-team-content-description">
                <h1>
                    Se interessou em participar da nossa comunidade e sabe que tem muita coisa para nos ensinar, aqui é o seu  lugar.
                </h1>
            </div>
             <button class="our-team-content-third-button">
                 <h1>
                    FAÇA PARTE
                </h1>
            </button>    
        </div>

    </div>
</div>