<div class="community-relationship-container">

    <div class="community-relationship-intro-container">
        <div class="community-relationship-intro">
            <div class="relationship-main-description">
            </div>
            <div class="relationship-main-picture">
            </div>
            <div class="relationship-main-title">
            </div>
        </div>
    </div>
</div>