<div class="community-relationship-container">

    <div class="community-relationship-intro-container">
        <div class="community-relationship-intro">
            <div class="relationship-main-description">
                <h1>
                    Fique sabendo dos melhores eventos da região, encontre parceiros de negócios e clientes, explore todos os benefícios da nossa rede. Se você também quiser fazer parte da nossa equipe, temos várias possibilidades.
                </h1>
            </div>
            <div class="relationship-main-picture">
            </div>
            <div class="relationship-detail-main-picture">
                </div>
            <div class="relationship-main-title">
                <h1>
                    RELACIONAMENTO É NOSSA VOCAÇÃO
                </h1>
            </div>
        </div>
    </div>
</div>