<div class="community-advantage-container">
    <div class="community-advantages-intro-container">
        <div class="community-advantages-intro">    
            <div class="membership-main-description">
                <h1> {{contentObject.descriptionFirst}} <br/> <br/> {{contentObject.descriptionSecond}}</h1>    
            </div>
            <div class="membership-detail-main-picture">
            </div>
            <div class="membership-main-picture">
            </div>
            <div align = "center" class="membership-main-title">
                <h1>
                    {{contentObject.title}}
                </h1>
            </div>
        </div>
    </div>
</div>