<div class="community-detail-content">
        <div class="background-over-container"> </div>
        <div class="community-advantages-container">

                <div class="community-advantages-intro-container">
                        <div class="community-advantages-intro">


                                <div class="membership-main-description">

                                </div>

                                <div class="membership-main-picture">

                                </div>


                                <div class="membership-main-title">

                                </div>

                        </div>

                </div>

        </div>
                <div class="background-over-container"> </div>

</div>