<div class="community-opnion-container">

        <div class="community-opnion-intro-container-first">
                <div class="opnion-main-description-first">
                </div>
                <div class="opnion-main-picture-first">
                </div>
        </div>

        <div class="community-opnion-intro-container-second">
                <div class="opnion-main-description-second">
                </div>
                <div class="opnion-main-picture-second">
                </div>
        </div>
</div>