<div class="community-fixed-background">
  <div class="background-image">
    <div class="background-filter"> </div>
  </div>
  <div class="presentation-container">
    <h1> {{contentObject.title}} </h1>
    <h2> {{contentObject.subtitle}} </h2>
  </div>
  <div class="divider">
        <div class="divider-rect">
        </div>
    </div>
</div>