

<div class="community-opnion-container">
   
    <div class="community-opnion-intro-container">
        <div class="community-opnion-intro">    
            <div class="membership-main-description">
                <h3>
                    ALLAN SOUZA
                </h3>
                <h2>
                    CEO AGÊNCIA A PROPOSITO
                </h2>
                <h1>
                    “Na 55 lab pude conquistar meu espaço como empreendedor e estar no centro do mercado criativo em Brasília. Melhor que isso, não tem.”
                </h1>
            </div>
            <div class="membership-detail-main-picture">
            </div>
            <div class="membership-main-picture">
            </div>
        </div>
    </div>

    <div class="community-opinion-second-intro-container">
        <div class="community-opinion-second-intro">
            <div class="community-opinion-second-main-description">
                <h3>
                    ALLAN SOUZA
                </h3>
                <h2>
                    CEO AGÊNCIA A PROPOSITO
                </h2>
                <h1>
                    “Na 55 lab pude conquistar meu espaço como empreendedor e estar no centro do mercado criativo em Brasília. Melhor que isso, não tem.”
                </h1>
            </div>
            <div class="community-opinion-second-main-picture">
            </div>
            <div class="community-opinion-second-detail-main-picture">
                </div>
        </div>
    </div>


</div>