<div class="community-benefits-container">

    <div class="divider">
        <div class="divider-rect">
        </div>
    </div>

    <div class="title">
        <h1>
            VEJA MAIS BENEFÍCIOS
        </h1>
    </div>

    <div class="benefits-content-container">
        <div class="benefit-content-item">
            <img src="/assets/images/icon_network.png" class="benefit-content-image">
                
            <div class="title">
                <h1>
                    NETWORKING
                </h1>
            </div>
            <div class="description">
                <h1>
                    Conexão on e offline com mais de 400 empreendedores e colaboradores para compartilhar ideias, experiências, oportunidades de trabalho conjuto.
                </h1>
            </div>
        </div>

        <div class="benefit-content-item">
            <img src="/assets/images/icon_space.png" class="benefit-content-image">
                
            <div class="title">
                <h1>
                    AÇESSO AO ESPAÇO
                </h1>
            </div>
            <div class="description">
                <h1>
                    Acesso flexível ao espaço - como membro, você terá acesso sob demanda ao espaço +55lab (basta ligar ou mandar um email para fazer a reserva).                
                </h1>
            </div>
        </div>

        <div class="benefit-content-item">
            <img src="/assets/images/icon_events.png" class="benefit-content-image">
                
            <div class="title">
                <h1>
                    EVENTOS EXCLUSIVOS
                </h1>
            </div>
            <div class="description">
                <h1>
                    +55 lab promove uma série de eventos sociais, palestras, programas de captação e workshops nos quais você pode conhecer parceiros, clientes e fornecedores.
                </h1>
            </div>
        </div>

        <div class="benefit-content-item">
            <img src="/assets/images/icon_discounts.png" class="benefit-content-image">
                
            <div class="title">
                <h1>
                    DESCONTOS ESPECIAIS
                </h1>
            </div>
            <div class="description">
                <h1>
                    Rede de descontos em serviços e benefícios exclusivos que te ajudam a cuidar de si, da sua empresa e de seus colaboradores: serviços jurídicos, serviços de comunicação, planos de academia, planos de saúde e viagens.
                </h1>
            </div>
        </div>

    </div>

    <div class="actions-container">
           <button class="action-button-first">
               <h1>
                   FAÇA PARTE
               </h1>
            </button>
                <button class="action-button-second">
                <h1>
                   CONHEÇA NOSSOS PLANOS
               </h1> 
            </button>
    </div>

</div>
