<div class="community-our-team-container">

    <div class="divider">
        <div class="divider-rect">
        </div>
    </div>

    <div class="title">
        <h1>
            VEJA MAIS BENEFÍCIOS
        </h1>
    </div>

    <div class="our-team-content-container">
        <div class="our-team-content-item">
             <button class="action-button-item">
                 FAÇA PARTE
            </button>    
        </div>

        <div class="our-team-content-item">
              <button class="action-button-item">
                 FAÇA PARTE
            </button>
        </div>

        <div class="our-team-content-item">
            <button class="action-button-item">
                 FAÇA PARTE
            </button>
        </div>
    </div>
</div>