<div class="home-page-item-detail-box">

  <a> uuuuu </a>

  <a> oi foifo i </a>
  <a> foi foifo i </a>
  <a> foi foifo i </a>
  <a> foi foifo i </a>
  <a> foi foifo i </a>
  <a> lalalall </a>
</div>
