<div class="home-page-item-detail-box">

  <div class="item-main" >
    <div class="item-title"> UM MUNDO NO QUAL AS PESSOAS SÃO LIVRES </div>
    <div class="item-description"> Comunidade construída a partir da força do ecossistema empreendedor local, no poder da execução e na transformação pela coopetição. Venha fazer parte desse mundo. </div>
   </div>

<div class="item-sub">
  <div class="item-subtitle"> MEMBERSHIP </div>
  <div class="item-subdescription"> Fique sabendo dos melhores eventos da região, encontre parceiros de negócios e clientes, explore todos os benefícios da nossa rede. Se você também quiser fazer parte da nossa equipe, temos as possibilidades: </div>
 </div>


  <div class="item-options">
    <div class="option"> Parceiro </div>
    <div class="option"> Franquiado </div>
    <div class="option"> Mentor </div>
  </div>

  <div class="item-actions">
    <div class="action-option"> <a> FAÇA PARTE </a> </div>
  </div>

</div>
