<div class="knowledge-advantage-container">
   
    <div class="knowledge-advantages-intro-container">
        <div class="knowledge-advantages-intro">    
            <div class="membership-main-description">
                <h1>
                    Acreditamos no poder da Execução, em ecossistemas e na transformação pela coopetição. Empoderamos empresas e negócios que têm potencial de transformar vidas, para fazer mais e melhor. Não temos medo de errar e acreditamos que criativdade gera inovação, que gera empreendedorismo e que esse é o caminho para o crescimento sustentável de nosso país. <br/> <br/> 
                    Quebramos padrões e assumimos riscos para tranformar nossa cultura, através da cooperação em relações equilibradas onde cada um exerça o seu propósito, criando profissionais autônamos, capazes de abraçar o desafio de criar algo em colaboração.
                </h1>
            </div>
            <div class="membership-detail-main-picture">
            </div>
            <div class="membership-main-picture">
            </div>
            <div align = "center" class="membership-main-title">
                <h1>
                    ACELERE.ME
                </h1>
            </div>
        </div>
    </div>
</div>