<div class="knowledge-detail-content">
        <div class="background-over-container"> </div>
                {{knowledge-advantage-container}}
                {{knowledge-events-container}}
                {{knowledge-opnion-header-container}}
                {{knowledge-opnion-container}}
        <div class="background-over-container"> </div>

</div>
