<div class="knowledge-advantage-container">
   
    <div class="knowledge-advantages-intro-container">
        <div class="knowledge-advantages-intro">    
            <div class="membership-main-description">
                <h1> {{contentObject.firstDescription}} <br/> <br/> {{contentObject.secondDescription}} </h1>
            </div>
            <div class="membership-detail-main-picture">
            </div>
            <div class="membership-main-picture">
            </div>
            <div align = "center" class="membership-main-title">
                <h1>{{contentObject.title}}</h1>
            </div>
        </div>
    </div>
</div>