<div class="knowledge-fixed-background">
  <div class="background-image">
    <div class="background-filter"> </div>
  </div>
  <div class="presentation-container">
    <h1> Conhecimento </h1>
  </div>
</div>