<div class="knowledge-advantage-container">

    <div class="knowledge-advantages-intro-container">
        <div class="knowledge-advantages-intro">    
            <div class="membership-main-description">
            </div>
               <div class="membership-main-picture">
            </div>
            <div class="membership-main-title">
            </div>
        </div>
    </div>
</div>