<div class="knowledge-events-container">

    <div class="divider">
        <div class="divider-rect">
        </div>
    </div>

    <div class="title">
        <h1>
            SAIBA DOS EVENTOS QUE ESTÃO ROLANDO
        </h1>
    </div>

    <div class="knowledge-events-container">
       <div class="border-background"> 
       </div>
        {{knowledge-events-content-item eventObject=event1Object}}
        {{knowledge-events-content-item eventObject=event2Object}}
        {{knowledge-events-content-item eventObject=event3Object}}
        {{!knowledge-events-content-item eventObject=event4Object}}
        {{!knowledge-events-content-item eventObject=event5Object}}
        {{!knowledge-events-content-item eventObject=event6Object}}
        {{!knowledge-events-content-item eventObject=event7Object}}
    </div>

</div>
