{{!--<div class="navbar-responsive-mobile-container">

    <div class="background-container">

        <div class="menu-container">

            <div class="menu-header">
            </div>

            <div class="app-logo">
                {{#link-to "home-page"}}{{/link-to}}
            </div>

            <div class="left-nav-button">
                {{#link-to "community"}}Comunidade{{/link-to}}
            </div>

            <div class="left-nav-button">
                {{#link-to "community"}}Comunidade{{/link-to}}
            </div>
            
            <div class="left-nav-button">
                {{#link-to "community"}}Comunidade{{/link-to}}
            </div>

        </div>

    </div>

</div>--}}