<div class="navbar-responsive-mobile">
  

  <div class="app-logo">
     {{#link-to "home-page"}}{{/link-to}}
  </div>

  <div class="close-menu">
    
    <button class="burger-menu" {{action this.openMenuAction}}> </button>
     
    </div>
  
</div> 
