<div class="navbar">
  <div class="app-logo">
    <a href="default.asp" title="">ok</a>
  </div>
  <div class="app-menu">
    <div class="nav-button">
      {{#link-to "home-page"}}Login{{/link-to}}
    </div>
    <div class="nav-button">
      {{#link-to "home-page"}}Nos Visite{{/link-to}}
    </div>
  </div>
</div>
