<div class="navbar">
  
  <div class="close-menu">
     MENU
    <button class="burger-menu" {{action "onClick"}}> </button>
     
    </div>
  
  <div class="app-logo">
     {{#link-to "home-page"}}{{/link-to}}
  </div>

  {{#if showLeftMenu}}
  <div class="left-menu">
    <div class="left-nav-button">
      {{#link-to "community"}}Comunidade{{/link-to}}
    </div>
    <div class="left-nav-button">
      {{#link-to "work-space"}}Espaço de Trabalho{{/link-to}}
    </div>
     <div class="left-nav-button">
      {{#link-to "knowledge"}}Conhecimento{{/link-to}}
    </div>
  </div>
  {{/if}}
   
  <div class="app-menu">
    <div class="nav-button">
       {{#link-to "blog"}}Blog{{/link-to}} 
    </div>
    <div class="nav-button">
      {{#link-to "visit-us"}}Nos Visite{{/link-to}}
    </div>
  </div>
</div>
