<div class="work-space-plans-container">

    <div class="border-background">
    </div>

    {{#each workspaceSelectedCategory as |workspacePlan|}}
        {{work-space-plans-content-item  }}
    {{/each}}
   


</div>

