<div class="work-space-types-spaces-container">

    {{work-space-type-spaces-content-item 
        titleImageSrc="/assets/images/work_space_title_house.png" 
        description="Acesso a nossa plataforma digital com mais de 400 empreendedores, benefícios exclusivos para membros, programas de conteúdo
            e eventos para networking. para membros, programas de conteúdo e eventos para networking. para membros, programas
            de conteúdo e eventos para networking."
        buttonImageSrc="/assets/images/work_space_button_house.png"
        backgroundFilterHoverSrc="/assets/images/workspace-option-background-image-filter-selected-green.png"
                    
    }}

    {{work-space-type-spaces-content-item 
        titleImageSrc="/assets/images/work_space_title_store.png" 
        description="Acesso a nossa plataforma digital com mais de 400 empreendedores, benefícios exclusivos para membros, programas de conteúdo
            e eventos para networking. para membros, programas de conteúdo e eventos para networking. para membros, programas
            de conteúdo e eventos para networking."
        buttonImageSrc="/assets/images/work_space_button_store.png"
        backgroundFilterHoverSrc="/assets/images/workspace-option-background-image-filter-selected-yellow.png"
                    
    }}

    {{work-space-type-spaces-content-item 
        titleImageSrc="/assets/images/work_space_title_work.png" 
        description="Acesso a nossa plataforma digital com mais de 400 empreendedores, benefícios exclusivos para membros, programas de conteúdo
                e eventos para networking. para membros, programas de conteúdo e eventos para networking. para membros, programas
                de conteúdo e eventos para networking."
        buttonImageSrc="/assets/images/work_space_button_work.png"
        backgroundFilterHoverSrc="/assets/images/workspace-option-background-image-filter-selected-pink.png"
                    
    }}
        
</div>