<div class="work-space-types-spaces-container">

    <div class="divider">
        <div class="divider-rect">
        </div>
    </div>


    <div class="work-space-types-spaces-container">
        
        <div class="work-space-types-spaces-content-item">
            <div class="work-space-types-spaces-content-background-filter">
            </div>
            <img src="/assets/images/work_space_title_house.png" class="work-space-types-spaces-content-title">
            <div class="description">
                <h1>
                    Acesso a nossa plataforma digital com mais de 400 empreendedores, benefícios exclusivos para membros, programas de conteúdo e eventos para networking. para membros, programas de conteúdo e eventos para networking. para membros, programas de conteúdo e eventos para networking. 
                </h1>
                <button class="work-space-types-spaces-content-button">
                <img src="/assets/images/work_space_button_house.png">
                <h1>
                 SAIBA MAIS
                </h1>
            </button>
            </div> 
        </div>

        <div class="work-space-types-spaces-content-item">
            <div class="work-space-types-spaces-content-background-filter">
            </div>
            <img src="/assets/images/work_space_title_store.png" class="work-space-types-spaces-content-title">
            <div class="description">
                <h1>
                    Acesso a nossa plataforma digital com mais de 400 empreendedores, benefícios exclusivos para membros, programas de conteúdo e eventos para networking. para membros, programas de conteúdo e eventos para networking. para membros, programas de conteúdo e eventos para networking. 
                </h1>
                <button class="work-space-types-spaces-content-button">
                <img src="/assets/images/work_space_button_store.png">
                <h1>
                 SAIBA MAIS
                </h1>
            </button>
            </div> 
        </div>

        <div class="work-space-types-spaces-content-item">
            <div class="work-space-types-spaces-content-background-filter">
            </div>
            <img src="/assets/images/work_space_title_work.png" class="work-space-types-spaces-content-title">
            <div class="description">
                <h1>
                    Acesso a nossa plataforma digital com mais de 400 empreendedores, benefícios exclusivos para membros, programas de conteúdo e eventos para networking. para membros, programas de conteúdo e eventos para networking. para membros, programas de conteúdo e eventos para networking. 
                </h1>
                <button class="work-space-types-spaces-content-button">
                <img src="/assets/images/work_space_button_work.png">
                <h1>
                 SAIBA MAIS
                </h1>
            </button>
            </div> 
        </div>

    </div>
</div>