<div class="work-space-types-spaces-container">

    <div class="divider">
        <div class="divider-rect">
        </div>
    </div>


    <div class="work-space-types-spaces-container">
        <div class="work-space-types-spaces-content-item">
            <button class="work-space-types-spaces-content-button">
                 .HOUSE
            </button>
            <div class="description">
                <h1>
                    Acesso a nossa plataforma digital com mais de 400 empreendedores, benefícios exclusivos para membros, programas de conteúdo e eventos para networking.
                </h1>
            </div> 
        </div>

        <div class="work-space-types-spaces-content-item ">
              <button class="work-space-types-spaces-content-button">
                 .STORE
            </button>
            <div class="description">
                <h1>
                    Acesso a nossa plataforma digital com mais de 400 empreendedores, benefícios exclusivos para membros, programas de conteúdo e eventos para networking.
                </h1>
            </div> 
        </div>

        <div class="work-space-types-spaces-content-item">
            <button class="work-space-types-spaces-content-button">
                 .WORK
            </button>
            <div class="description">
                <h1>
                    Acesso a nossa plataforma digital com mais de 400 empreendedores, benefícios exclusivos para membros, programas de conteúdo e eventos para networking.
                </h1>
            </div> 
        </div>
    </div>
</div>