<div class="work-space-plans-content-item">

        <div class="work-space-plans-content-item-header-background-image" style="background-image: url('/assets/images/background-image.png');">
            <div class="work-space-plans-content-item-header-background-filter" >
                <div class="work-space-plans-content-item-header">
                    <div class="title">
                        <h1>
                            MEMBERSHIP
                        </h1>
                    </div>
                    <div class="subtitle">
                        <h1>
                            R$ 49,00/MÊS
                        </h1>
                    </div>

                    <button class="work-space-plans-content-button">
                         FAÇA PARTE

                                             <div class="button-plans-border-image"> </div>

                    </button>



                </div>
            </div>
        </div>

        <div class="work-space-plans-content-item-sub-description">
            <div class="left-border">

            </div>
            <div class="description">
                <h1>
                    Acesso a qualquer espaço de trabalho dispomível na área comum do +55lab. O plano inclui o +55 Membership e 1 crédito na “meeting
                    room”.
                </h1>
            </div>
        </div>

        <div class="work-space-plans-description-content-item">

            <div class="title">
                <h1>
                    ANUIDADE
                </h1>
            </div>
            <div class="description">
                <h1>
                    para 1 pessoa fica R$ 1800,00 / mês, de acordo com a quantidade de pessoas aumenta o preço. Para 2 pessoas ou mais: </h1>
            </div>

        </div>

        <div class="work-space-plans-description-content-item">

            <div class="title">
                <h1>
                    ANUIDADE
                </h1>
            </div>
            <div class="description">
                <h1>
                    para 1 pessoa fica R$ 1800,00 / mês, de acordo com a quantidade de pessoas aumenta o preço. Para 2 pessoas ou mais: </h1>
            </div>
        </div>

        <div class="work-space-plans-description-content-item">

            <div class="title">
                <h1>
                    ANUIDADE
                </h1>
            </div>
            <div class="description">
                <h1>
                    para 1 pessoa fica R$ 1800,00 / mês, de acordo com a quantidade de pessoas aumenta o preço. Para 2 pessoas ou mais: </h1>
            </div>

            <button class="work-space-plans-description-content-button">
                 VEJA AQUI
              </button>

            <div class="image">
            </div>
        </div>
    </div>