<div class="work-space-plans-description-container">

    <div class="divider">
        <div class="divider-rect">
        </div>
    </div>


    <div class="work-space-plans-description-container">
        
        <div class="work-space-plans-description-content-item">
            <div class="description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <div class="second-title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="second-description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-description-content-item">
            <button class="work-space-plans-description-content-button">
                 VEJA AQUI
            </button>
            <div class="title">
                <h1>
                    ANUIDADE
                </h1>
            </div> 
            <div class="description">
                <h1>
                    Se você prefere a privacidade de uma sala para criar sua prórpia cultura, mas ainda quer manter os benefícios da comunidade +55lab, temos salas que podem se adaptar para 1 ou mais pessoas.
                </h1>
            </div> 
            <div class="image">
            </div> 
        </div>

    </div>
</div>