<div class="work-space-plans-container">

    <div class="border-background">
    </div>
    {{work-space-plans-content-item}}
    {{work-space-plans-content-item}}
    {{work-space-plans-content-item}}
    {{work-space-plans-content-item}}


</div>