<div class="work-space-plans-container">

    <div class="divider">
        <div class="divider-rect">
        </div>
    </div>


    <div class="work-space-plans-container">
        <div class="work-space-plans-content-item">
            <button class="work-space-plans-content-button">
                 FAÇA PARTE
            </button>
            <div class="title">
                <h1>
                    MEMBERSHIP
                </h1>
            </div> 
            <div class="subtitle">
                <h1>
                    R$ 49,00/MÊS
                </h1>
            </div> 
        </div>

        <div class="work-space-plans-content-item">
            <button class="work-space-plans-content-button">
                 FAÇA PARTE
            </button>
            <div class="title">
                <h1>
                    OPEN DESK
                </h1>
            </div> 
            <div class="subtitle">
                <h1>
                    R$ 530,00/MÊS
                </h1>
            </div>  
        </div>
        
        <div class="work-space-plans-content-item">
            <button class="work-space-plans-content-button">
                 FAÇA PARTE
            </button>
            <div class="title">
                <h1>
                    FIXE DESK
                </h1>
            </div> 
            <div class="subtitle">
                <h1>
                    R$ 760,00/MÊS
                </h1>
            </div>  
        </div>

        <div class="work-space-plans-content-item">
            <button class="work-space-plans-content-button">
                 FAÇA PARTE
            </button>
            <div class="title">
                <h1>
                    PRIVATE ROOM
                </h1>
            </div> 
            <div class="subtitle">
                <h1>
                    A PARTIR DE R$ 1800,00/MÊS
                </h1>
            </div> 
        </div>

    </div>
</div>