<div class="work-space-detail-content">
        <div class="background-over-container"> </div>
                {{work-space-types-spaces-container}}
                {{community-benefits-container}}
                {{!community-relationship-container}}
                {{!community-our-team-container}}
                {{!community-opnion-container}}
                <div class="background-over-container"> </div>
</div>
