<div class="work-space-advantage-container">
    <div class="divider">
        <div class="divider-rect">
        </div>
    </div>

    <div class="title">
        <h1>
            VEJA OUTROS TIPOS DE LOCAÇÃO E VANTAGENS
        </h1>

        <h2>
            Para Membros e Não-Membros
        </h2>
    </div>

    <div class="advantage-container">

        <img src="/assets/images/icon-address.png" class="image">

        <div class="title">
            <h1>
                Endereço Fiscal
            </h1>
            <h2>
                Um bom endereço profissional é essencial para qualquer negócio. Por isso, oferecemos locação de endereço fiscal para pessoas físicas e jurídicas.
            </h2>
        </div>

        <div class="advantage-options-container">
            <div class="advantage-background-image">
            </div>
            <div class="advantage-options-title">
                <h1>
                    VOCÊ PODE ESCOLHER ENTRE DUAS OPÇÕES E DOIS ENDEREÇOS DIFERENTES
                </h1>
            </div>
            <div class="advantage-options-background">

                <div class="advantage-options-information-title">
                    <h1>
                        Endereço fiscal
                    </h1>

                    <h2>
                        R$ 95,00 mês - .store (315 Sul) / R$ 115 mês - .work (SAUS)
                    </h2>
                   
                    <h3>
                        Com este serviço, você pode registrar a sua empresa na junta comercial com um endereço privilegiado e, ainda, pode contar com o serviço de Caixa Postal para recebimento de correspondências. Ah, e não precisa ter pressa para fazer a retirada dos recebimentos, nossa equipe os gerencia e armazena por até 30 dias. 
                    </h3>

                    <div class= "advantage-options-to-here-title">
                        <h1>
                            Para Contratar esse serviço
                        </h1>
                    </div>

                   <button class="advantage-access-here-button">
                        Acesse aqui
                   </button>

                   <div class="advantage-access-here-button-background-borders">
                   </div>

                    <div class="advantage-options-center-line">
                    </div>
                </div>

                 

                 

                <div class="advantage-options-information-title">
                    <h1>
                        Endereço fiscal e atendimento telefônico personalizado
                    </h1>

                    <h2>
                        R$ 320,00 MÊS - serviço disponível apenas no .work (SAUS)
                    </h2>
                    
                    <h3>
                        Agora ficou fácil ter uma equipe administrativa sem sair de casa. Com este pacote, você poderá registrar e divulgar o endereço privilegiado de sua empresa, ter o serviço de gerenciamento e armazenamento de caixa postal e, além disso, contar com um(a) profissional responsável por atender uma linha telefônica exclusiva e encaminhar seus recados por e-mail. 
                    </h3>

                    <div class= "advantage-options-to-here-title">
                        <h1>
                            Para Contratar esse serviço
                        </h1>
                    </div>

                   <button class="advantage-access-here-button">
                        Acesse aqui
                   </button>

                   <div class="advantage-access-here-button-background-borders">
                   </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!--<div class="advantage-container-two">

        <img src="/assets/images/icon-space.png" class="image">

        <div class="title">
            <h1>
                Espaço de Evento
            </h1>
            <h2>
                A partir de R$ 150,00 / hora ou 1 crédito.
            </h2>
            <h3>
                Traga seu evento para o +55Lab. Não importa se você vai promover um happy hour, um workshop ou um desfile de moda. Nossos
                membros estão preparados para receber você e seus convidados de braços abertos para mais uma experiência
                no +55Lab.
            </h3>
        </div>

        <div class="advantage-support-container">

            <div class="advantage-support-title">
                <h1>
                    Inclui acomodações e suporte para o seu evento:
                </h1>
            </div>
            <div class="advantage-spaces-background">
                <div class="advantage-spaces-information-title">

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            55” tv
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                        ar condicionado
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                        30 mesas e cadeiras
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                        PROJETO + TELA
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                        serviço de limpeza
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                        água e café
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                        área para coffe break
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                        internet com link dedicado
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                        cabos hdmi / vga
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                        recepção
                        </h1>
                    </div>        
                </div>
                <div class="advantage-background-support-image">
                </div>
                <div class="advantage-space-center-line">
                </div>
            </div>
        </div>
    </div>-->

    
    
    <div style="margin-top:40vw" class="advantage-container-do-it">

          <div class="advantage-meeting-room-background-borders">
         </div>
        <img src="/assets/images/icon-space.png" class="image">
        
        <div class="title">
            <h1>
                Espaço de Eventos
            </h1>
            <h2>
                <b>Membros:</b> a partir de R$ 150,00 / hora ou 1 crédito
            </h2>

             <h2>
                <b>Não-Membros:</b> a partir de R$ 150,00 
            </h2>
            <h3>
                Um bom endereço profissional é essencial para  qualquer negócio. Por isso, oferecemos pacotes para a contratação de endereço fiscal.  
            </h3>
        </div>

        <div class="advantage-meeting-room-background">

            <div class="advantage-meeting-information-title">
                <h1>
                    Se quiser alugar uma de nossas sala
                </h1>
            </div>

            <button class="advantage-do-it-button">
                Faça aqui
            </button>
              <div class="advantage-do-it-buttom-background-borders">
         </div>
        </div>
    </div>

         <div class="advantage-support-container">

            <div class="advantage-support-title">
                <h1>
                    ACOMODAÇÕES E SUPORTES DISPONÍVEIS:
                    
                </h1>
            </div>
            <div class="advantage-spaces-background">
                <div class="advantage-spaces-information-title">

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            Work (30 pessoas)
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            Ar Condicionado
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            30 mesas e cadeiras 
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            TV
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            Projetor + Tela 
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            Cabos HDMI VGA
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            Água e café
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            Local para coffee break
                        </h1>
                    </div>

                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                             Serviço de limpeza
                        </h1>
                    </div>

                      
                </div>
                <div class="advantage-background-support-image">
                </div>
                <div class="advantage-space-center-line">
                </div>

                <div class="advantage-space-center-line-two">
                </div>
            </div>
        </div>

    <div class="advantage-container-do-it">

          <div class="advantage-meeting-room-background-borders">
         </div>
        <img src="/assets/images/meeting-icon.png" class="image">

        <div class="title">
            <h1>
                Sala de Reunião
            </h1>
              <h2>
                <b>Membros:</b> a partir de R$ 150,00 / hora ou 1 crédito
            </h2>

             <h2>
                <b>Não-Membros:</b> a partir de R$ 150,00 
            </h2>
            <h3>
                Um reunião precisa ser produtiva, mesmo. E nossas salas de reuniões, que acomodam até 5 pessoas, são preparadas para isso. Elas são completamente equipadas com tudo o que você precisa em um local de  reunião: água, café, equipamentos audiovisuais e internet dedicada. Temos salas de reunião em dois espaços diferentes: .work e .house, com diferenças nos recursos disponíveis e nos preços. 
            </h3>
        </div>

        <div class="advantage-meeting-room-background">

            <div class="advantage-meeting-information-title">
                <h1>
                    Se quiser alugar uma de nossas sala
                </h1>
            </div>

            <button class="advantage-do-it-button">
                Faça aqui
            </button>
              <div class="advantage-do-it-buttom-background-borders">
         </div>
        </div>
    </div>

    <div class="advantage-container-do-it">

        <img src="/assets/images/icon-conference.png" class="image">

        <div class="title">
            <h1>
                Sala de Conferência
            </h1>
             <h2>
                <b>Membros:</b> a partir de R$ 150,00 / hora ou 1 crédito
            </h2>

             <h2>
                <b>Não-Membros:</b> a partir de R$ 150,00 
            </h2>
            <h3>
                Entendemos as dificuldades que podem surgir quando precisamos reunir todo mundo. Por isso, também temos salas preparadas para a realização de videoconferências que acomodam até 10 pessoas disponíveis para locação em nossos espaços. 
            </h3>
        </div>

        <div class="advantage-meeting-room-background">

            <div class="advantage-meeting-information-title">
                <h1>
                    Se quiser alugar uma de nossas salas
                </h1>
            </div>

            <button class="advantage-do-it-button">
                Faça aqui
            </button>
              <div class="advantage-do-it-buttom-background-borders">
         </div>
        </div>
    </div>

        <div class="advantage-container-do-it">

        <img src="/assets/images/showroom-icon.png" class="image">

        <div class="title">
            <h1>
                Showroom
            </h1>
            <h3>
                Nesse espaço seu produto fica exposto com a visibilidade que precisa, em um box do tamanho ideal para você. Não vamos ficar com qualquer percentual de venda e nem fazer estoque… a ideia aqui é que os clientes comprem direto com você usando o canal de sua preferência – loja online, whatsapp, facebook, etc. Ah, e nossa equipe estará preparada para fazer a ponte entre os visitantes e você! 
            </h3>
        </div>

        <div class="advantage-meeting-room-background">

            <div class="advantage-meeting-information-title">
                <h1>
                    Se quiser alugar uma de nossas acomodações
                </h1>
            </div>

            <button style="margin-top:13vw"class="advantage-do-it-button">
                Faça aqui
            </button>
              <div style="margin-top:11vw" class="advantage-do-it-buttom-background-borders">
         </div>
        </div>
    </div>

             <div class="advantage-support-showroom-container ">

            <div class="advantage-support-showroom-title">
                <h1>
                    INCLUI E ACOMODAÇÕES PARA O SEU PRODUTO:
                </h1>
            </div>
            <div class="advantage-spaces-showroom-background">
                <div class="advantage-spaces-showroom-information-title">

                    <div class="advantage-spaces-showroom-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            Nichos 0,40m x 0,40m
                        </h1>
                    </div>

                    <div class="advantage-spaces-showroom-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            Nichos 1,36m x 1,10m
                        </h1>
                    </div>

                    <div class="advantage-spaces-showroom-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            Nichos 0,60m x 0,60m 
                        </h1>
                    </div>

                    <div class="advantage-spaces-showroom-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            Nichos 1,00m x 0,30m
                        </h1>
                    </div>

                    <div class="advantage-spaces-showroom-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            Nichos 0,90m x 0,30m
                        </h1>
                    </div>

                    <div class="advantage-spaces-showroom-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            Carrinho
                        </h1>
                    </div>

                    <div class="advantage-spaces-showroom-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            Prateleira 1,85m x 0,70m
                        </h1>
                    </div>

                    <div class="advantage-spaces-showroom-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>
                            Prateleira 2,05m x 0,40m
                        </h1>
                    </div>

                    <div class="advantage-spaces-showroom-information-title-item">
                        
                        <h1>
                             8 unidades
                        </h1>
                    </div>

                    <div class="advantage-spaces-showroom-information-title-item">
                        
                        <h1>
                             2 unidades
                        </h1>
                    </div>

                    <div class="advantage-spaces-showroom-information-title-item">
                       
                        <h1>
                             2 unidades
                        </h1>
                    </div>

                    <div class="advantage-spaces-showroom-information-title-item">
                        
                        <h1>
                             2 unidades
                        </h1>
                    </div>

                    <div class="advantage-spaces-showroom-information-title-item">
                        
                        <h1>
                             2 unidades
                        </h1>
                    </div>

                    <div class="advantage-spaces-showroom-information-title-item">
                        
                        <h1>
                             1 unidade
                        </h1>
                    </div>

                    <div class="advantage-spaces-showroom-information-title-item">
                        
                        <h1>
                             2 unidades
                        </h1>
                    </div>

                    <div class="advantage-spaces-showroom-information-title-item">
                        
                        <h1>
                             1 unidade
                        </h1>
                    </div>

                     <div class="advantage-spaces-showroom-information-title-item">
                        
                        <h1>
                             R$ 175,00
                        </h1>
                    </div>

                     <div class="advantage-spaces-showroom-information-title-item">
                        
                        <h1>
                             R$ 350,00
                        </h1>
                    </div>

                     <div class="advantage-spaces-showroom-information-title-item">
                        
                        <h1>
                             R$ 220,00
                        </h1>
                    </div>

                     <div class="advantage-spaces-showroom-information-title-item">
                        
                        <h1>
                             R$ 280,00
                        </h1>
                    </div>

                     <div class="advantage-spaces-showroom-information-title-item">
                        
                        <h1>
                             R$ 280,00
                        </h1>
                    </div>

                     <div class="advantage-spaces-showroom-information-title-item">
                        
                        <h1>
                             R$ 535,00
                        </h1>
                    </div>

                     <div class="advantage-spaces-showroom-information-title-item">
                    
                        <h1>
                             R$ 390,00
                        </h1>
                    </div>

                     <div class="advantage-spaces-showroom-information-title-item">
                        <h1>
                             R$ 430,00
                        </h1>
                    </div>

                      
                </div>
                <div class="advantage-background-showroom-support-image">
                </div>
                <div class="advantage-space-showroom-center-line">
                </div>

                <div class="advantage-space-showroom-center-line-two">
                </div>
            </div>
        </div>

</div>