<div class="work-space-fixed-background">
  <div class="background-image">
    <div class="background-filter"> </div>
  </div>
  <div class="presentation-container">
    <h1> Espaço de Trabalho </h1>
  </div>
  <div class="divider">
        <div class="divider-rect">
        </div>
    </div>
</div>