<div class="work-space-plans-container">

    {{work-space-plans-content-item}}
    {{work-space-plans-content-item}}
    {{work-space-plans-content-item}}
    {{work-space-plans-content-item}}


</div>