
@mixin font-face($name) {
  @font-face {
    font-family: $name;
    src:  url("/fonts/#{$name}/#{$name}.eot?") format("eot"),
	  url("/fonts/#{$name}/#{$name}.woff") format("woff");
  }
}
@include font-face('FjordOne-Regular');
@include font-face('BebasNeue-Bold');
@include font-face('BebasNeue-Regular');
@include font-face('aleo-regular-webfont');

@import 'foundation';
@import 'ember-paper';
@import 'home-page';
@import 'top-bar';
@import 'home-page-item-detail-box';
@import 'community';
@import 'community-advantage-container';
@import 'community-benefits-container';
@import 'community-relationship-container';
@import 'community-our-team-container';
@import 'community-opnion-container';
@import 'work-space';
@import 'work-space-types-spaces-container';
@import 'work-space-rental-types-container';
@import 'work-space-plans-container';
@import 'work-space-plans-description-container';
@import 'knowledge';
@import 'knowledge-advantage-container';
@import 'knowledge-events-container';
@import 'knowledge-opnion-container';
@import 'work-space-plans-content-item';
@import 'work-space-advantage-container';
@import 'community-opnion-header-container';
@import 'knowledge-events-content-item';
@import 'knowledge-opnion-header-container';
@import 'bottom-bar';
@import 'work-space-opnion-header-container';
@import 'work-space-opnion-container';
@import 'sign-up-membership';
@import 'blog';
@import 'visit-us';

html, body{
  height: 100%; margin: 0px; padding: 0px; width: 100%;

}



html,body,div,span,applet,object,iframe,h1,h2,
h3,h4,h5,h6,p,blockquote,a,abbr,acronym,address,
big,cite,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,
dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
embed,figure,figcaption,footer,header,hgroup,input,menu,
nav,output,ruby,section,summary,time,mark,audio,video {
border: 0;
margin: 0;
padding: 0;
vertical-align: baseline;
}
