@mixin font-face($name) {
  @font-face {
    font-family: $name;
    src:  url("/fonts/#{$name}/#{$name}.eot?") format("eot"),
	  url("/fonts/#{$name}/#{$name}.woff") format("woff");
  }
}
@include font-face('FjordOne-Regular');
@include font-face('BebasNeue-Bold');
@include font-face('BebasNeue-Regular');
@include font-face('aleo-regular-webfont');

@import 'foundation';
@import 'home-page';
@import 'top-bar';
@import 'home-page-item-detail-box';
@import 'community';
@import 'community-advantage-container';
@import 'community-benefits-container';
@import 'community-relationship-container';
@import 'community-our-team-container';
@import 'community-opnion-container';
@import 'work-space';
@import 'work-space-types-spaces-container';
@import 'work-space-rental-types-container';
@import 'work-space-plans-container';
@import 'work-space-plans-description-container';
@import 'knowledge';
@import 'knowledge-advantage-container';
@import 'knowledge-events-container';
@import 'knowledge-opnion-container';
@import 'bottom-bar.scss';
@import 'work-space-plans-content-item';
@import 'work-space-advantage-container';

html, body{
  height: 100%; margin: 0px; padding: 0px; width: 100%;
}
