@mixin font-face($name) {
  @font-face {
    font-family: $name;
    src:  url("/fonts/#{$name}/#{$name}.eot?") format("eot"),
	  url("/fonts/#{$name}/#{$name}.woff") format("woff");
  }
}
@include font-face('FjordOne-Regular');
@include font-face('BebasNeue-Bold');
@include font-face('BebasNeue-Regular');

@import 'foundation';
@import 'home-page';
@import 'top-bar';
@import 'home-page-item-detail-box';
@import 'community';

html, body{
  height: 100%; margin: 0px; padding: 0px;
}
