
.community-relationship-intro-container {       
       display: flex;
       height: 45vw;
       background: #f7f7f7;  

     .community-relationship-intro {
       
       background: #f7f7f7;
        height: auto;
        width: 100%;
        margin-top: 10vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        overflow: visible;
        position: relative;
        z-index: 1;

         .relationship-main-description {
           height: 28vw;
           width: 42vw;
           top: 22%;
           left: 10%;
           z-index:1;
           overflow: visible;
           position: absolute;
           background-image:url(/assets/images/background_community_relatoinship.png);
           background-size: 100%;
           background-repeat: no-repeat;

           h1 {
            font-family: 'aleo-regular-webfont';
            font-size: 1.2vw;
            color: black;
            text-align: justify;
            margin-top: 15%;
            margin-left: 17%;
            margin-right: 17%;
            line-height: 1.6vw;
          }

         }

       .relationship-main-picture {
           height: 32vw;
           width: 32vw;
           overflow: visible;
           margin-left: 32%;
           z-index:-1;
           margin-top: -2%;
           content:url(/assets/images/community-background-relationship.jpg);
       }

       .relationship-detail-main-picture {
           height: 10vw;
           width: 10vw;
           overflow: visible;
           z-index:99;
           margin-left: -38%;
           margin-top: -6%;
           content:url(/assets/images/rectangle_community_main_picture.png);
        }

       
       
         .relationship-main-title {
           height: 7vw;
           width: 35vw;
           left: 20%;
           top: 5%;
           overflow: auto;
           position: absolute;
           z-index:3;
           background:url(/assets/images/button_community_relationship.png);
           background-size:100%; 
           background-repeat: no-repeat;
           
           h1 {
            font-family: 'BebasNeue-Bold';
            font-size: 2.4vw;
            color: white;
            margin-top: 6%;
            margin-left: 16%;
          }

         }
    }
}
