.community-opnion-container {       
       display: block;
       height: auto;
       background: gold;  
    //    direction: rtl;   

       
     %community-opnion-intro-container {
        background: white;
        height: 100%;
        width: 100%;
        // margin-bottom: 5vw;
        overflow: visible;
        position: relative;
        z-index: 1;
        background: pink;
                     display: inline;
      }

     .community-opnion-intro-container-first {
         @extend %community-opnion-intro-container;
                          float: right;

    }

     .opnion-main-description-first {
           height: 25vw;
           width: 50vw;
        //    bottom: 0;
           left: 40vw;
           z-index:1;
           overflow: visible;
           position: absolute;
           background: green;

         }

       .opnion-main-picture-first {
           background: blue;
         height: 48vw;
           width: 32vw;
          overflow: visible;
          margin-left: 15%;
                     z-index:2;

       }

         .community-opnion-intro-container-second {
             @extend %community-opnion-intro-container;
             background: deeppink;
                 float: left;

         .opnion-main-description-second {
                 height: 34vw;
                 width: 55vw;
                 bottom: 0;
                 left: 25%;
                 z-index:1;
                 overflow: visible;
                 position: absolute;
                 background: green;
         }

       .opnion-main-picture-second {
           background: blue;
           height: 48vw;
           width: 32vw;
           overflow: visible;
           margin-left: 65%;
           z-index:2;

       }
         }
  }
