.community-benefits-container {
    background: #f7f7f7;
    height: auto;
    // margin-top: 200px;

    .divider {  
        width: 100%;
        height: 20vw;
        display: block;
        // background: blue;

        .divider-rect{
            position:relative;
            top: 40%;
            background: #083054;
            height: 0.4vw;
            width: 10vw;
            left: 7.5vw;
        }
    }

    .title {
        margin-top:-8%;
        width: 100%; 
        height: 7vw;
        margin-left: 7.5vw;
       h1 {
           height: 100%;
            font-family: 'BebasNeue-Bold';
            font-size: 4vw;
            color: #1C1C1C;
       }
    }

    .benefits-content-container {
        background-image: url(/assets/images/background_benefits.png);
        background-repeat: no-repeat;
        background-size: 47%;
        background-position-x: 85%;
        background-position-y: 100%;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        

    .benefit-content-item {
            margin: 20px;
            height: 15vw;
            width: 37.5vw;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            
        .benefit-content-image{
            width: 8vw;
            height: 8vw;

        }

        .title {
            margin-top:-20%;
            width: 100%; 
            height: 3vw;
            margin-left: 7%;
                h1 {
                height: 100%;
                font-family: 'BebasNeue-Bold';
                font-size: 2vw;
                color: #1C1C1C;
                }
            }

        .description {
            //margin-top:-8%;
            width: 100%; 
            height: 3vw;
            margin-left: -65%;
            margin-right: 10%;
                h1 {
                height: 100%;
                font-family: 'aleo-regular-webfont';
                font-size: 1vw;
                color: #1C1C1C;
                text-align: justify;
                }
            }

        }

        

    }

    .actions-container {
        width: 100%;
        height: auto;
        vertical-align: middle;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        //background: red;

        .action-button-first {
            width: 18vw;
            height: 7.5vw;
            margin-left: 8%;
            background:url(/assets/images/button-benefits-make-part.png);
            background-size:100%; 
            background-repeat: no-repeat;
           
           h1 {
            font-family: 'BebasNeue-Bold';
            font-size: 2.5vw;
            color: white;
            margin-left: 0%;
          }
        }
         .action-button-second {
            width: 19vw;
            height: 6.14vw;
            margin-left: 4%;
            background:url(/assets/images/button-benefits-know-plans.png);
            background-size:100%; 
            background-repeat: no-repeat;
           
           h1 {
            font-family: 'BebasNeue-Bold';
            font-size: 1.4vw;
            padding-top: 5%;
            color: white;
            
            
          }
        }

    }
}