$topbar-height: 70px;
$actioncontainer-height: 75px;
$actions-height: $actioncontainer-height * 4;
$content-detail-height: 96vh;
$content-detail-height-mobile: 220vw;
html{
  height: 100%;
}
body{
  height: 100%;
}

.community-container {
  width: 100%;
  height: 100vw;
  position: absolute;
  display: inline-block;
  background: #f7f7f7;
  z-index: 0;

  .divider {  
        width: 100%;
        height: 20vw;
        display: block;     
       
        .divider-rect{
            position:absolute;
            background:#D8AD09;
            height: 1vw;
            width: 100%;
            bottom:0;
        }
    }
  
  .community-fixed-background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -999;
    width: 100%;
    height: 40vw;
    overflow: hidden;

     .background-image {
        position: absolute;
        left: 0;
        right: 0;
        z-index: -999;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        background-image: url('/assets/images/community-background-navbar.jpg');
        width: 100%;
        height: 50vw;

      .background-filter {
        background: rgba(0,0,0,0.7);
        width: 100%;
        height: 50vw;
      }

     }

  .presentation-container {
    position: absolute;
    top: 20vw;
    z-index: -999;
  }

  }

  .community-detail-content {
    flex-direction: column;
    justify-content: center;
    position: relative;
    display: block;
    width: 100%;
               z-index: 1;
            overflow: hidden;


    .background-over-container {
      height: 34vw;
    }
  }
}

@media screen and (min-width: 600px) {
  .community-container {
   .community-fixed-background {
    .presentation-container {

      top: $topbar-height;
      height: 40vw;
      display: flex;
      align-items: center;
      margin-left: 8.0em;
          h1 {
            font-family: 'BebasNeue-Bold';
            font-size: 8.0vw;
            color: white;
          }
    }
   }
}

.community-detail-content { 
    margin-top: $topbar-height;
  }

}


@media screen and (max-width: 600px) {
  
  .community-container {
  .community-fixed-background {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;

    .navbar {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;

    }
    .background-image {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;

      .background-filter {
      }
    }
    .presentation-container {
      position: relative;
      width: 85%;
      top: 15vw;

      margin-left: 1.0em;
          h1 {
            font-family: 'BebasNeue-Bold';
            font-size: 10vw;
            color: white;
          }

    }

  }
  
   .community-detail-content {
     .community-advantages-intro-container {       
     .community-advantages-intro {
        margin-top: 5vw;
     }
      }
   }
  }
}