
.community-relationship-intro-container {       
       /*display: flex;
       height: 45vw;
       background: #f7f7f7;  */

     .community-relationship-intro {
       
       /*background: #f7f7f7;
        height: auto;
        width: 100%;
        margin-top: 10vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        overflow: visible;
        position: relative;
        z-index: 1;*/

         .relationship-main-description {
           /*height: 28vw;
           width: 42vw;
           top: 22%;
           left: 10%;
           z-index:1;
           overflow: visible;
           position: absolute;
           background-image:url(/assets/images/background_community_relatoinship.png);
           background-size: 100%;
           background-repeat: no-repeat;*/

           h1 {
            /*font-family: 'aleo-regular-webfont';
            font-size: 1.2vw;
            color: black;
            text-align: justify;
            margin-top: 15%;
            margin-left: 17%;
            margin-right: 17%;
            line-height: 1.6vw;*/
          }

         }

       .relationship-main-picture {
           /*height: 32vw;
           width: 32vw;
           overflow: visible;
           margin-left: 32%;
           z-index:-1;
           margin-top: -2%;
           content:url(/assets/images/community-background-relationship.jpg);*/
       }

       .relationship-detail-main-picture {
           /*height: 10vw;
           width: 10vw;
           overflow: visible;
           z-index:99;
           margin-left: -38%;
           margin-top: -6%;
           content:url(/assets/images/rectangle_community_main_picture.png);*/
        }

       
       
         .relationship-main-title {
           /*height: 7vw;
           width: 35vw;
           left: 20%;
           top: 5%;
           overflow: auto;
           position: absolute;
           z-index:3;
           background:url(/assets/images/button_community_relationship.png);
           background-size:100%; 
           background-repeat: no-repeat;*/
           
           h1 {
            font-family: 'BebasNeue-Bold';
            font-size: 2.4vw;
            color: white;
            margin-top: 6%;
            margin-left: 16%;
          }

         }
    }
}

@media screen and (min-width: 600px) {
  .community-relationship-intro-container {       
       display: flex;
       height: 45vw;
       background: #f7f7f7;  

     .community-relationship-intro {
       
       background: #f7f7f7;
        height: auto;
        width: 100%;
        margin-top: 10vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        overflow: visible;
        position: relative;
        z-index: 1;

         .relationship-main-description {
           height: 28vw;
           width: 42vw;
           top: 22%;
           left: 10%;
           z-index:1;
           overflow: visible;
           position: absolute;
           background-image:url(/assets/images/background_community_relatoinship.png);
           background-size: 100%;
           background-repeat: no-repeat;

           h1 {
            font-family: 'aleo-regular-webfont';
            font-size: 1.2vw;
            color: black;
            text-align: justify;
            margin-top: 15%;
            margin-left: 17%;
            margin-right: 17%;
            line-height: 1.6vw;
          }

         }

       .relationship-main-picture {
           height: 32vw;
           width: 32vw;
           overflow: visible;
           margin-left: 32%;
           z-index:-1;
           margin-top: -2%;
           content:url(/assets/images/community-background-relationship.jpg);
       }

       .relationship-detail-main-picture {
           height: 10vw;
           width: 10vw;
           overflow: visible;
           z-index:99;
           margin-left: -38%;
           margin-top: -6%;
           content:url(/assets/images/rectangle_community_main_picture.png);
        }

       
       
         .relationship-main-title {
           height: 7vw;
           width: 35vw;
           left: 20%;
           top: 5%;
           overflow: auto;
           position: absolute;
           z-index:3;
           background:url(/assets/images/button_community_relationship.png);
           background-size:100%; 
           background-repeat: no-repeat;
           
           h1 {
            font-family: 'BebasNeue-Bold';
            font-size: 2.4vw;
            color: white;
            margin-top: 6%;
            margin-left: 16%;
          }

         }
    }
  }
}
@media screen and (max-width: 600px) {
  .community-relationship-intro-container {       
       display: flex;
       height: auto;
       background: #f7f7f7;  

     .community-relationship-intro {
       
       // background: red;
        height: 190vw;
        background: #f7f7f7;
        //height: auto;
        width: 100%;
        margin-top: -25vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        overflow: visible;
        position: relative;
        z-index: 1;

         .relationship-main-description {
           height: 98vw;
           width: 98vw;
           top: 46.5%;
           left: -1.5%;
           z-index:1;
           overflow: visible;
           position: absolute;
           background-image:url(/assets/images/container-relation-text-responsive.png);
           background-size: 100%;
           background-repeat: no-repeat;
           
           
           h1 {
            font-family: 'aleo-regular-webfont';
            font-size: 4.2vw;
            color: black;
            text-align: justify;
            margin-top: 20%;
            margin-left: 10%;
            margin-right: 17%;
            line-height: 5.6vw;
          }

         }

       .relationship-main-picture {
           height: 70vw;
           width: 70vw;
           overflow: visible;
           margin-left: 17vw;
           z-index:-1;
           margin-top: 18%;
           content:url(/assets/images/community-background-relationship.jpg);
       }

       .relationship-detail-main-picture {
           height: 25vw;
           width: 25vw;
           overflow: visible;
           z-index:99;
           margin-left: -20%;
           margin-top: 10%;
           content:url(/assets/images/rectangle_community_main_picture.png);
        }

       
       
         .relationship-main-title {
           height: 26vw;
           width: 87vw;
           left: 3%;
           top: 45.5%;
           overflow: auto;
           position: absolute;
           z-index:3;
           background:url(/assets/images/button_community_relationship.png);
           background-size:100%; 
           background-repeat: no-repeat;
           
           h1 {
            font-family: 'BebasNeue-Bold';
            font-size: 5.9vw;
            color: white;
            margin-top: 6%;
            margin-left: 15%;
          }

         }
    }
  }
}
