.community-our-team-container {
    background: white;
    height: auto;

    .divider {

        width: 100%;
        height: 20vw;
        display: block;
        .divider-rect{

            position:relative;
            top: 75%;
            background: black;
            height: 5px;
            width: 10vw;
            left: 7.5vw;
        }
    }

    .title {
        // margin-top:2%;
        // margin-bottom: -4%;
        width: 100%; 
        height: 15%;
        margin-left: 7.5vw;
       h1 {
           height: 100%;
            font-family: 'BebasNeue-Bold';
            font-size: 4vw;
            color: black;
       }
    }

    .our-team-content-container {

        padding: 5%;
        background: yellow;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;

        .our-team-content-item {
            background: red;
            margin: 20px;
            height: 370px;
            width: 280px;
            align-items: center;
            justify-content: center;
            display: flex;
             flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}