.community-opnion-container {       
       display: flex;
       height: auto;
       width: auto;
       align-content: center;
       background: #f7f7f7;  
       display: block;
       margin-top: -5%;
       padding-top: 1%;

     .community-opnion-intro {
       
       //background: #f7f7f7;
        height: 100%;
        width: 100%;
        margin-top: -5vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        overflow: visible;
        position: relative;
        z-index: 0;

         .membership-main-description {
           height: 25vw;
           width: 30vw;
           margin-top: 9%;
           left: 38%;
           z-index:5;
           overflow: visible;
           position: absolute;
           background-image:url(/assets/images/community_description_opinion_container.png);
           background-size: 100%;
           background-repeat: no-repeat;
           
           h1 {
            font-family: 'aleo-regular-webfont';
            font-size: 0.8vw;
            color: black;
            text-align: justify;
            margin-top: 5%;
            margin-left: 14%;
            margin-right: 22%;
            line-height: 1.2em;
          }
          h2 {
            font-family: 'BebasNeue-Thin';
            font-size: 1.2vw;
            color: black;
            text-align: justify;
            margin-top: -2%;
            margin-left: 14%;
            margin-right: 22%;
            line-height: 1.2em;
          }

          h3 {
            font-family: 'BebasNeue-Bold';
            font-size: 1.3vw;
            color: black;
            text-align: justify;
            margin-top: 15%;
            margin-left: 14%;
            margin-right: 22%;
            line-height: 1.2em;
          }
         }

       .membership-main-picture {
           height: 26vw;
           width: 26vw;
           overflow: visible;
           margin-right: 45%;
           z-index:2;
           content:url(/assets/images/knowledge-picture.png);
       }

       .membership-detail-main-picture {
           height: 8vw;
           width: 8vw;
           overflow: visible;
           z-index:99;
           margin-right: -29%;
           margin-top: -3.6%;
           content:url(/assets/images/rectangle-opinion-left.png);
       }
     }

       .community-opinion-second-intro {
       
       background: #f7f7f7;
        height: auto;
        width: 100%;
        margin-top: 10vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        overflow: visible;
        position: relative;
        z-index: 1;

         .community-opinion-second-main-description {
           height: 25vw;
           width: 30vw;
           top: 22%;
           left: 34%;
           z-index:-1;
           overflow: visible;
           position: absolute;
           background-image:url(/assets/images/community_description_second_opinion_container.png);
           background-size: 100%;
           background-repeat: no-repeat;

           h1 {
            font-family: 'aleo-regular-webfont';
            font-size: 0.8vw;
            color: black;
            text-align: justify;
            margin-top: 5%;
            margin-left: 24%;
            margin-right: 18%;
            line-height: 1.2em;
          }
          h2 {
            font-family: 'BebasNeue-Thin';
            font-size: 1.2vw;
            color: black;
            text-align: justify;
            margin-top: -2%;
            margin-left: 24%;
            margin-right: 18%;
            line-height: 1.2em;
          }

          h3 {
            font-family: 'BebasNeue-Bold';
            font-size: 1.3vw;
            color: black;
            text-align: justify;
            margin-top: 10%;
            margin-left: 24%;
            margin-right: 18%;
            line-height: 1.2em;
          }

         }

       .community-opinion-second-main-picture {
           height: 26vw;
           width: 26vw;
           overflow: visible;
           margin-left: 50%;
           z-index:-1;
           margin-top: -8%;
           content:url(/assets/images/knowledge-picture.png);
       }

       .community-opinion-second-detail-main-picture {
           height: 8vw;
           width: 8vw;
           overflow: visible;
           z-index:99;
           margin-left: -24.9%;
           margin-top: -11.5%;
           content:url(/assets/images/rectangle-opinion-right.png);
        } 
      }
}

/*.community-opnion-container {       
       display: block;
       height: auto;
       background: gold;  
    //    direction: rtl;   
       
     %community-opnion-intro-container {
        background: pink;
        height: 100%;
        width: 100%;
        // margin-bottom: 5vw;
        overflow: visible;
        position: relative;
        z-index: 1;
        //background: pink;
        display: inline;
      }

     .community-opnion-intro-container-first {
         @extend %community-opnion-intro-container;
                          float: right;

    }

     .opnion-main-description-first {
           height: 25vw;
           width: 50vw;
        //    bottom: 0;
           left: 40vw;
           z-index:1;
           overflow: visible;
           position: absolute;
           background: green;

         }

       .opnion-main-picture-first {
           background: blue;
         height: 48vw;
           width: 32vw;
          overflow: visible;
          margin-left: 15%;
                     z-index:2;

       }

         .community-opnion-intro-container-second {
             @extend %community-opnion-intro-container;
             background: deeppink;
                 float: left;

         .opnion-main-description-second {
                 height: 34vw;
                 width: 55vw;
                 bottom: 0;
                 left: 25%;
                 z-index:1;
                 overflow: visible;
                 position: absolute;
                 background: green;
         }

       .opnion-main-picture-second {
           background: blue;
           height: 48vw;
           width: 32vw;
           overflow: visible;
           margin-left: 65%;
           z-index:2;

           }
      }
  }*/
