$topbar-height: 70px;
$actioncontainer-height: 75px;
$actions-height: $actioncontainer-height * 4;
$content-detail-height: 96vh;
$content-detail-height-mobile: 220vw;

.home-page-container {
  width: 100%;
  height: 100%;
  display:  flex;
  flex-direction: column;
  overflow: hidden;
  .background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;

    .background-filter {
      background: rgba(0,0,0,0.7);
      width: 100%;
      height: 100%;
    }

  }

  .presentation-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .action-button-membership {
            width: 18vw;
            height: 5.6vw;
            margin-top: 5%;
            background:url(/assets/images/button-be-membership.png);
            background-size:100%; 
            background-repeat: no-repeat;

            &:hover {
                transform:scale(1.1,1.1);
                transition: transform 0.1s, width 0.1s ease-in;
            }
           
           a {
            font-family: 'BebasNeue-Bold';
            font-size: 2.5vw;
            color: white;
            margin-left: -15%;
            
            &:visited, &:link {
                color: white;
                text-decoration: none;
            }
          }
          
        }
  }

  .actions-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    background : white;
    width: 100%;
    height: $actioncontainer-height;
    z-index: 2;
    .action-left{
      border-top: 15px solid #D8AD09;
    }

    .action-center0 {
      border-top: 15px solid #5A7DBB;
    }

    .action-center1 {
      border-top: 15px solid #AC0049;
    }

    .action-right {
      border-top: 15px solid #85BF47;
    }

    .action-left, .action-center0, .action-center1, .action-right {
        height: $actioncontainer-height;

      a {
        display: block;
        font-family: 'BebasNeue-Bold';
        font-size: 2vw;
        height: $actioncontainer-height - 15px;
        color: black;
        width: 100%;
        text-align: center;
        background: rgba(0,0,0,0);
        line-height: $actioncontainer-height - 5px;

          &:hover {
            background: rgba(255,255,255,0.75);
            color:dodgerblue;
          }
        }
      image{
        width: 1.5vw;
        height: 2.25vw;
        position: absolute;
        top: 15%;
        bottom: 0;
        margin: auto;
        
      }
      image.active{
          content: url("/assets/images/home-page-image-active.png");
        }
    }
    .action-left{
      a.active {
        background: #BD9600;
        color: white;
        }
      image{
        left:22%;
      }  
      
    }
    .action-center0{
      a.active {
        background: #41639F;
        color: white;
        }
      image{
        left:47%;
      }  
    }
    .action-center1{
      a.active {
        background: #870039;
        color: white;
        }
      image{
        left:72%;
      } 
    }
    .action-right{
      a.active {
        background: #42AF00;
        color: white;
        }
      image{
        left:97%;
      } 
    }
  }
}





@media screen and (min-width: 600px) {
  .home-page-container {
    .background-image {
      .background-filter {
      }
    }
    .presentation-container {
      position: relative;
      width: 81%;
      height: 49.75vw;
      top: $topbar-height;
      margin-left: 5em;
      padding-bottom: 4.9em;
      top: 0;

          h1 {
            font-family: 'BebasNeue-Bold';
            font-size: 5.5vw;
            color: white;
          }
          h2 {
            font-family: 'FjordOne-Regular';
            font-size: 1.6vw;
            color: white;
            margin-top: -0.5em;
          }
    }
    .actions-container {
      position: absolute;
      bottom: 0;

      .action-left, .action-center0, .action-center1, .action-right {
        a {
          font-size: 2vw;
          // padding-top: 1vw;
        }
        width: 25%;
        border-right: 1px solid #E3E3E3;
      }

      .action-left.active + .hover-content-left,
      .action-center0.active + .hover-content-center0,
      .action-center1.active + .hover-content-center1,
      .action-right.active + .hover-content-right {
           visibility: visible;
           opacity: 1;
           transition: visibility 0s linear 0ms, opacity 300ms;
          }
    }

    %extended-action-hover-content-base {
      display: block;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 300ms, opacity 300ms;
      top: 0;
      bottom: $actioncontainer-height;
      position: fixed;
      width: 25%;
      background: rgba(244,244,244,1);
      &:hover {
        visibility: visible;
      }
    }
    .hover-content-left {
      @extend %extended-action-hover-content-base;
      left: 0;
    }

    .hover-content-center0 {
      @extend %extended-action-hover-content-base;
      left: 25%;
    }

    .hover-content-center1 {
      @extend %extended-action-hover-content-base;
      left: 50%;
    }

    .hover-content-right {
      @extend %extended-action-hover-content-base;
      left: 75%;
    }
  }

  .action-detail-cover-background {
    position: absolute;
    width: 100%;
    top: 0;
    bottom:0;
    background: rgba(0,0,0,0.5);
    z-index: 0;
  }
}

@media screen and (max-width: 600px) {
  .home-page-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;

    .navbar {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;

    }
    .background-image {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;

      .background-filter {
      }
    }
    .presentation-container {
      position: relative;
      width: 85%;
      height: 100vw;
      top: 20px;

      margin-left: 1.0em;
          h1 {
            font-family: 'BebasNeue-Bold';
            font-size: 9vw;
            color: white;
            //  margin-bottom: -10px;
          }
          h2 {
            font-family: 'FjordOne-Regular';
            font-size: 3.5vw;
            color: white;
          }
    }


    .actions-container.show-details {
      $actions-height: $actioncontainer-height * 4;
      height: -webkit-calc(#{$actions-height} + #{$content-detail-height-mobile});
      height:    -moz-calc(#{$actions-height} + #{$content-detail-height-mobile});
      height:         calc(#{$actions-height} + #{$content-detail-height-mobile});
    }

    .actions-container {
      height: $actioncontainer-height * 4 ;

      .action-left, .action-center0, .action-center1, .action-right {
        width: 100%;
        a {
          font-size: 6vw;
        }
      }

      .action-left.active + .hover-content-left,
      .action-center0.active + .hover-content-center0,
      .action-center1.active + .hover-content-center1,
      .action-right.active + .hover-content-right {
           visibility: visible;
           opacity: 1;
           transition: visibility 0s linear 0ms, opacity 300ms;
           display: inline-block;

          }

          %extended-action-hover-content-base-mobile {
            display: none;
            visibility: hidden;
            opacity: 0;
            left: 0;
            transition: visibility 0s linear 300ms, opacity 300ms;
            height:  $content-detail-height-mobile;
            position: relative;
            width: 100%;
            background: rgba(244,244,244,1);
            &:hover {
              visibility: visible;
            }
          }

          .hover-content-left {
            @extend %extended-action-hover-content-base-mobile;
          }
          .hover-content-center0 {
            @extend %extended-action-hover-content-base-mobile;
          }
          .hover-content-center1 {
            @extend %extended-action-hover-content-base-mobile;
          }
          .hover-content-right {
            @extend %extended-action-hover-content-base-mobile;
          }
    }
  }
}
