.knowledge-events-container {
        /*background: rgba(239,239,239,1);
        width: 100vw;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        padding-bottom: 5%;*/

    .divider {  
        /*width: 100vw;
        height: 20vw;
        display: block;*/

        .divider-rect{
            /*position:relative;
            top: 25%;
            background: #AC0049;
            height: 0.4vw;
            width: 10vw;
            left: 7vw;*/
        }
    }

    .title {
        /*margin-top: -15%;
        // margin-bottom: -4%;
        width: 100%; 
        height: 6vw;
        margin-left: 7vw;*/
       h1 {
           height: 100vw;
            font-family: 'BebasNeue-Bold';
            font-size: 4vw;
            color: black;
       }
    }

    .knowledge-events-container {
 
        /*width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        margin-left: 6vw;
         margin-right: 6vw;*/


        .border-background {
                /*content: url('/assets/images/workspace-table-plans-border-background.png');
                position: absolute;
                height: 110vw;
                width: 94vw;*/
            }

    }
}



/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
     .border-background { 
                                           margin-top: 0vw;    
         margin-left: 0vw;
     }
}

//safari
_:-webkit-full-screen:not(:root:root), .border-background {		
         margin-top: -3vw;    
         margin-left: -3vw;
}

@media screen and (min-width: 600px) {

        .knowledge-events-container {
            background: rgba(239,239,239,1);
            width: 100vw;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            position: relative;
            padding-bottom: 5%;

        .divider {  
            width: 100vw;
            height: 20vw;
            display: block;

            .divider-rect{
                position:relative;
                top: 25%;
                background: #AC0049;
                height: 0.4vw;
                width: 10vw;
                left: 7vw;
            }
        }

        .title {
            margin-top: -20%;
            // margin-bottom: -4%;
            width: 100%; 
            height: 6vw;
            margin-left: 7vw;
        h1 {
                height: 100vw;
                font-family: 'BebasNeue-Bold';
                font-size: 3vw;
                color: black;
            }
        }

        .knowledge-events-container {
    
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            position: relative;
            margin-left: 6vw;
            margin-right: 6vw;
            margin-top: -5vw;


            .border-background {
                    content: url('/assets/images/workspace-table-plans-border-background.png');
                    position: absolute;
                    height: 110vw;
                    width: 94vw;
                }

        }
    }

}


@media screen and (max-width: 600px) {

        .knowledge-events-container {
            background: rgba(239,239,239,1);
            width: 100vw;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            position: relative;
            padding-bottom: 5%;

        .divider {  
            width: 100%;
            height: auto;
            display: block;

            .divider-rect{
                position:relative;
                background: #AC0049;
                height: 1.5vw;
                width: 12vw;
                left: 7vw;
                z-index: 99;
                margin-top: 25%;
            }
        }

        .title {
            margin-top: 5%;
            width: 50%; 
            height: auto;
            z-index: 100;
            margin-left: 6vw;
            margin-bottom: 6vw;

        h1 {
            height: 50%;
            width: auto;
            font-family: 'BebasNeue-Bold';
            font-size: 8vw;
            color: #1C1C1C;
            margin-left: -40%;
            margin-right: 15%;

            }
        }

        .knowledge-events-container {
    
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            flex-flow: column;
            justify-content: space-around;
            align-items: center;
            position: relative;
            margin-left: 6vw;
            margin-right: 6vw;


            .border-background {
                    height: 0;
                    width: 0;
                }

        }
    }

}