.knowledge-events-container {
    background: #f7f7f7;
    height: auto;
    // margin-top: 200px;

    .divider {  
        width: 100%;
        height: 20vw;
        display: block;
        // background: blue;

        .divider-rect{
            position:relative;
            top: 75%;
            background: #f5c442;
            height: 0.4vw;
            width: 10vw;
            left: 7.5vw;
        }
    }

    .title {
        // margin-top:2%;
        // margin-bottom: -4%;
        width: 100%; 
        height: 6vw;
        margin-left: 7.5vw;
       h1 {
           height: 100vw;
            font-family: 'BebasNeue-Bold';
            font-size: 4vw;
            color: black;
       }
    }

    .knowledge-events-container {

        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        

        .knowledge-content-item {
            width: 100%;
            height: 100%;
            content: url("/assets/images/knowledge_table_events.png");
            position: relative;
            margin-right: 7.5vw;
           
        }

    }
}