.knowledge-opnion-header-container {       
       /*display: block;
       height: 10vw;
       background: #f7f7f7;  
       padding-top: 7%;*/

    .divider {
/*
        width: 100%;
        height: auto;
        display: block;*/
        
        .divider-rect{
            /*position:relative;
            background: #AC0049;
            height: 0.4vw;
            width: 10vw;
            left: 75vw;
            z-index: 0;*/
        }
    }

    .title {
        /*margin-top:5%;
        width: 100%; 
        height: 1.5vw;
        margin-left: 50vw;
        z-index: 0;*/
       h1 {
           height: 1.5vw;
            font-family: 'BebasNeue-Bold';
            font-size: 2.5vw;
            color: black;
       }

       .title-image{
            /*position:relative;
            height: 200vw;
            width: 10%;
            margin-left: 40%;
            margin-top: -1.5%;
            background:url(/assets/images/image-title-opinion.png);
            background-size:20%; 
            background-repeat: no-repeat;
            z-index: 0;*/
        }
    }
}

@media screen and (min-width: 600px) {
        .knowledge-opnion-header-container {       
        display: block;
        height: 10vw;
        background: #f7f7f7;  
        padding-top: 7%;

        .divider {

            width: 100%;
            height: auto;
            display: block;
            
            .divider-rect{
                position:relative;
                background: #AC0049;
                height: 0.4vw;
                width: 10vw;
                left: 78vw;
                z-index: 0;
            }
        }

        .title {
            margin-top:5%;
            width: 100%; 
            height: 1.5vw;
            margin-left: 50vw;
            z-index: 0;
        h1 {
            height: 1.5vw;
                font-family: 'BebasNeue-Bold';
                font-size: 2.5vw;
                color: black;
        }

        .title-image{
                position:relative;
                height: 200vw;
                width: 10%;
                margin-left: 40%;
                margin-top: -1.5%;
                background:url(/assets/images/image-title-opinion.png);
                background-size:20%; 
                background-repeat: no-repeat;
                z-index: 0;
            }
        }
    }

}

@media screen and (max-width: 600px) {
        .knowledge-opnion-header-container {       
        display: flex;
        height: 10vw;
        background: #f7f7f7;  
        padding-top: -20%;

        .divider {

            width: 100%;
            height: auto;
            display: block;
            
            .divider-rect{
                position:relative;
                background: #AC0049;
                height: 1.5vw;
                width: 12vw;
                left: 72vw;
                z-index: 99;
                margin-top: 25%;
            }
        }

        .title {
            padding-top:17%;
            width: auto; 
            height: auto;
            z-index: 100;
        h1 {
            height: 50%;
            width: auto;
            font-family: 'BebasNeue-Bold';
            font-size: 8vw;
            color: #1C1C1C;
            margin-left: -40%;
            margin-right: 15%;
        }

        .title-image{
                position:relative;
                height: 200vw;
                width: 33%;
                margin-left: 42vw;
                margin-top: -20%;
                background:url(/assets/images/image-title-opinion.png);
                background-size:40%; 
                background-repeat: no-repeat;
                z-index: 99;
            }
        }
    }

}