$content-width: 28vw;

.knowledge-events-content-item {
            width: $content-width;
            display: inline-block;
            margin-bottom: 15%;

                .knowledge-events-content-item-header-background-image {
                    position: relative;              
                    background-repeat: no-repeat;
                    background-size: cover;
                                            height: $content-width;
                                            width: 100%;

                        .knowledge-events-content-item-header-background-filter {
                            width: 100%;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-image: url('/assets/images/workspace-header-item-background-filter.png');

    
                                .knowledge-events-content-item-header {
                                    height: $content-width;
                                    width: 100%;
                                    display: inline-block;
                                    
                                    .title {
                                        margin-left: 10%;
                                        padding-right: 20%;
                                        width: 100%; 
                                        margin-top: 10%;
                                        //background: grey;
                                        h1 {
                                            font-family: 'BebasNeue-Bold';
                                            font-size: 2.5vw;
                                            color: white;
                                        }
                                    }
                        
                                    .subtitle {
                                        margin-left: 10%;
                                        width: 80%; 
                                        padding-top: 25%;
                                        h1 {
                                                font-family: 'BebasNeue-Regular';
                                                font-size: 1.6vw;
                                                color: white;
                                        }
                                    }
                                    
                                    .knowledge-events-content-button{
                                            margin-top: 1.5%;
                                            margin-bottom: auto;
                                            margin-left: 10%;
                                            background:#AC0049;
                                            color:white;
                                            height: 3.5vw;
                                            line-height: 3.5vw;
                                            width: 10.5vw;
                                            font-size: 1.6vw;
                                            text-align: center;  
                                            vertical-align: bottom;
                                            padding: 0;              
                                            font-family: 'BebasNeue-Bold';  
                                            position: absolute;
                                            bottom: 2vw; 

                                            &:hover {
                                                transform:scale(1.1,1.1);
                                                transition: transform 0.1s, width 0.1s ease-in;
                                             }
                                             
                                    }

                                    .knowledge-events-content-second-button{
                                            margin-top: 1.5%;
                                            margin-bottom: auto;
                                            background:#2A2A2A;
                                            color:white;
                                            height: 3.5vw;
                                            line-height: 3.5vw;
                                            width: 10.5vw;
                                            font-size: 1.6vw;
                                            text-align: center;  
                                            vertical-align: bottom;
                                            padding: 0;             
                                            font-family: 'BebasNeue-Bold';  
                                            position: absolute;
                                            bottom: 2vw; 
                                            right: 2vw;

                                            &:hover {
                                                transform:scale(1.1,1.1);
                                                transition: transform 0.1s, width 0.1s ease-in;
                                             }
                                    }

                                     
                                                    
                        }
                
                    }
            }

        

    /*.knowledge-events-content-item-sub-description {
            width: 100%; 
            height: 15vw;
            background: #AC0049;
            border-radius: 2%;
            text-align: justify;
            align-items: center;
            justify-content: center;

            .left-border {
                position: absolute;
                background: #D8AD09;
                width: 0.75vw;
                height: 9.5vw;
                margin-top: 2.5%;
                margin-bottom: 2.5%;
            }
            .description {
                margin-top: 1.75vw;
                // width: 75%;
                border-width: 3vw 2vw 3vw 2vw;
                border-style: solid;
                border-color: rgba(0,0,0,0);
                h1 {
                 font-family: 'aleo-regular-webfont';
                 font-size: 1.3vw;
                 color: white;
                }
            }

        }

    .knowledge-events-description-content-item {
           
            background: white;
            height: 14vw;
            width: 100%;
            align-items: top;
            // margin-top: -1%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            border-bottom: 0.1vw;
            border-color:rgba(0,0,0,0.2);
            border-bottom-style: solid;
            border-bottom-right-radius: 1%;
            border-bottom-left-radius: 1%;

            

             .title {
                 margin-top:10%;
                 margin-left: 10%;
                 width: 100%; 
                 height: 3vw;
                 h1 {
                     font-family: 'BebasNeue-Bold';
                     font-size: 2vw;
                     color: black;
                 }
             }

          .description {
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 10%;
            width: 100%; 
            height: auto;
            text-align: justify;
            h1 {
                font-family: 'aleo-regular-webfont';
                font-size: 1.4vw;
                color: #262626;
                }
            }
        
        .knowledge-events-description-content-button {
            
            position: relative;
            background: rgba(28,28,28,1);
            border-radius: 5px;
            margin-left: 2.5%;
            margin-right: 15%;
            height: 3vw;
            margin-bottom: 1.5vw;
            line-height: 75%;
            width:62.5%;
            font-size: 1.6vw;
            text-align: center;
            font-family: 'BebasNeue-Bold';
            z-index:1;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4); 

            &:hover {
                    transform:scale(1.1,1.1);
                    transition: transform 0.1s, width 0.1s ease-in;
            }     

            a{
                &:visited, &:link {
                    color: white;
                    text-decoration: none;
                }
            }
 
            .image {
                content: url('/assets/images/workspace-anuity-button-image-work.png');
                width: 2.7vw;
                height: 2.3vw;
                margin-left: 113%;
                margin-top: -4%;
                position: relative;
                z-index: -10;
           } 
     
        }

        

    }*/

  }