.knowledge-container {
  width: 100%;
  height: auto;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  z-index: 0;

 
  .knowledge-fixed-background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -999;
    width: 100%;
    height: 40vw;
    overflow: hidden;
    
 .divider {  
        width: 100%;
        height: 20vw;
        display: block;     
       
        .divider-rect{
            position:absolute;
            background:#AC0049;
            height: 1vw;
            width: 100%;
            bottom:0;
        }
    }
  

     .background-image {
        position: absolute;
        left: 0;
        right: 0;
        // z-index: -999;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        background-image: url('/assets/images/knowledge-background-second-navbar.jpg');
        width: 100%;
        height: 100%;

      .background-filter {
        background: rgba(0,0,0,0.7);
        width: 100%;
        height: 1000%;
      }

     }

  .presentation-container {
    position: absolute;
    top: 20vw;
    // z-index: -999;
  }

  }

  .knowledge-detail-content {
    flex-direction: column;
    justify-content: center;
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;

    .background-over-container {
      height: 30.5vw;
    }
  }
}

@media screen and (min-width: 600px) {
  .knowledge-container {
   .knowledge-fixed-background {
    .presentation-container {

     top: $topbar-height;
      height: 82.5%;
      display: flex;
      align-items: center;
      margin-left: 8.0em;
          h1 {
            font-family: 'BebasNeue-Bold';
            font-size: 8.0vw;
            color: white;
          }
    }
   }
}

.knowledge-detail-content { 
    margin-top: $topbar-height;
  }

}


@media screen and (max-width: 600px) {
  
  .knowledge-container {
  .knowledge-fixed-background {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;

    .navbar {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;

    }
    .background-image {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;

      .background-filter {
      }
    }
    .presentation-container {
      position: relative;
      width: 85%;
      top: 15vw;

      margin-left: 1.0em;
          h1 {
            font-family: 'BebasNeue-Bold';
            font-size: 10vw;
            color: white;
          }

    }

  }

   .knowledge-detail-content {
     .knowledge-advantages-intro-container {       
     .knowledge-advantages-intro {
        margin-top: 5vw;
     }
      }
   }
  }
}