$background-color: rgba(247,247,247,1);

.sign-up-membership {
   background: $background-color;
   width: 100%;
     width: 100%;
   display: inline-block;
   height: auto;
  position: absolute;


  .sign-up-membership-container {
   margin-top: 8vw;
   padding-bottom: 25vw;
   
    .page-header {
        width: 100%;
        height: 12vw;
        display: block;

     .header-name {
        margin-top:2%;
        width: 40%; 
        height: 6vw;
        margin-left: 7.5vw;
        background:url(/assets/images/background_button_membership.png);
        background-size:20.5vw; 
        background-repeat: no-repeat;

          h1 {
           height: 100%;
            font-family: 'BebasNeue-Bold';
            font-size: 3vw;
            color: white;
            padding-top: 3%;
            padding-bottom: 3%;
            padding-left: 7.5%;
            padding-right: 7.55%;
           }
         }

         .header-description {
                   padding-left: 7.5vw;
                   padding-top: 1.5%;
          h1 {
           height: 100%;
            font-family: 'BebasNeue-Bold';
            font-size: 1.7vw;
            color: black;
           }
         }

        .header-divider{
            position:relative;
            background: #D8AD09;
            height: 5px;
            width: 10vw;
            margin-top: -1%;
            left: 52vw;
        }
    }

    .page-detail {

      width: 100vw;
      height: 40vw;
      display: flex;
      flex-wrap: nowrap;

  .right-content {
        width: 50%;
        height: 100%;
        
        .description-title {
          margin-left: 2vw;
          display: flex;
          flex-wrap: nowrap;

            h1 {
           height: 100%;
            font-family: 'BebasNeue-Bold';
            font-size: 1.7vw;
            color: black;
           }

           .label-icon {
             margin-left: 1vw;
             background: url(/assets/images/sign_up_membership_page_detail_picture.png);
             height: 2vw;
             width: 3vw;
             background-size: 100%;

           }
        }

        .description-picture {  
          margin-top: 2vw;     
          margin-left: 2vw;   
          background: url(/assets/images/sign-up-membership-detail-picture.png);
          width: 89%;
          height: 67.5%;
        }      
      } 

      .left-content {
        width: 43vw;
        height: 80%;
        margin-left: 7vw;
         display: flex;
         flex-wrap: wrap;
         align-items: flex-start;
         margin-top: -2vw;

         .form-field-big {
           margin: 0.5vw;
           width: 90%;
           height: 52.5px;

           input {
             width: 285%;
                border: 0px solid $background-color;
              -webkit-text-fill-color: clear;;
                -webkit-box-shadow: 0 0 0px 0px $background-color inset;
              transition: background-color 5000s ease-in-out 0s;
            border-bottom: 0.5px solid #979797;
           }
         }

         .form-field-medium {
           margin: 0.5vw;
           width: 44%;
           height: 52.5px;

                  input {
                    width: 125%;
                      border: 0px solid $background-color;
                  -webkit-text-fill-color: clear;
                      -webkit-box-shadow: 0 0 0px 0px $background-color inset;
                    transition: background-color 5000s ease-in-out 0s;
                  border-bottom: 0.5px solid #979797;
           }
         }

          .subscribe-button-background-borders {
            content: url('/assets/images/background-boarder-do-here.png');
            left: 27.5vw;
            bottom: 27vw; 
            width: 17vw;
            height: 8vw;
            position: absolute;
          }

          .subscribe-button {
            width: 14vw;
            height: 4.5vw; 
            background: rgba(28,28,28,1);
            border-radius: 0.4vw;
            text-align: center;
            font-family: 'BebasNeue-Bold';
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);      
            margin-left: 2.2vw;
            margin-top: 3.3vw;
            font-size: 2vw;  
            padding-top: 10px;
            padding-bottom: 2px;
        }

      }
    }
  }
}


/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    
}

//safari
_:-webkit-full-screen:not(:root:root), .advantage-do-it-buttom-background-borders {		

}
