.navbar {
  --nav-bar-height: 70px;
  --items-container-padding-height: 1%;
  --items-padding-width: 15px;
  --items-border-size: 1px;
  --items-padding-height: 3%;
  --items-border-color: black;

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background: white;
  justify-content: space-between;
  // z-index: 9999;

  .app-logo {
    height: 30px;
    width: 98px;
    background-image: url("/assets/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: -9999px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.2);
      -moz-transform: scale(1.2);
    }
    a {
      display: block;
      height: var(--nav-bar-height);
    }
  }

  .app-menu {
    font-color: black;
    color: black;
    a {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      vertical-align: middle;
      position: relative;
      display: block;
      padding: 1.2em;
      margin: -1.2em;
      font-family: 'FjordOne-Regular';
      font-size: 22px;

      &:visited, &:link {
        color: black;
        text-decoration: none;
      }
      &:hover, &:active {
        color: rgba(0,0,0,0.5);
        font-size: 1.58em;
      }
    }
  }
}

@media screen and (min-width: 680px) {
  .navbar {
    position: fixed;
    top: 0;
  }
  .app-logo {
    margin-left: 1.0em;
  }
  .navbar .app-menu {
    display: flex;
    height: var(--nav-bar-height);
    align-items: center;
    padding-right: 1.0em;

    a {
      line-height: calc(var(--nav-bar-height)/2);
    }

    .nav-button{
      padding: 0px var(--items-padding-width);
      margin-left: 25px;
      // border-right: var(--items-border-size) solid white;
      height: 50%;
    }
  }
}

@media screen and (max-width: 680px) {
  .navbar {
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 0;

    .app-logo {
      width: 100%;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    .app-menu {
      flex-direction: column;
      padding-top: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      .nav-button {
        border-top: calc(var(--items-border-size)/2) solid white;
        padding: calc(var(--items-padding-height) * 5) var(--items-padding-width);
      }
    }
  }
}
