.navbar {
  --nav-bar-height: 70px;
  --items-container-padding-height: 1%;
  --items-padding-width: 15px;
  --items-border-size: 1px;
  --items-padding-height: 3%;
  --items-border-color: black;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background: white;
  z-index: 2;

  .app-logo {
   
    background-image: url("/assets/images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.2);
      -moz-transform: scale(1.2);
    }
    a {
      display: block;
      height: var(--nav-bar-height);
    }
  }

  .app-menu {
    font-color: black;
    color: black;

    a {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      vertical-align: middle;
      position: relative;
      display: block;
      // padding: 1.2em;
      // margin: -1.2em;
      font-family: 'FjordOne-Regular';

      &:visited, &:link {
        color: black;
        text-decoration: none;
      }
      &:hover, &:active {
        color: rgba(0,0,0,0.5);
        transform: scale(1.1,1.1);
      }
    }
  }

 .left-menu {
    font-color: black;
    color: black;
    //background: green;

    a {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      vertical-align: middle;
      position: relative;
      display: block;
      // padding: 1.2em;
      // margin: -1.2em;
      font-family: 'FjordOne-Regular';
      font-size: 5vw;

      &:visited, &:link {
        color: black;
        text-decoration: none;
      }
      &:hover, &:active {
        color: rgba(0,0,0,0.5);
        transform: scale(1.1,1.1);
      }
    }
  }
}

@media screen and (min-width: 680px) {
  
  .navbar {
   
    justify-content: space-between;
    position: fixed;
    top: 0;
    flex-direction: row;
    z-index: 1;

    .close-menu {
      display: none;
    }

  }


  .app-logo {
    margin-left: 5.0em;
    background-size: 75%;
    width: 7vw;
  }

  .navbar .left-menu {
    display: flex;
    height: var(--nav-bar-height);
    align-items: center;
    margin-left: -25vw;

     a {
      padding-left: 0;
      line-height: calc(var(--nav-bar-height)/2);
      font-size: 1.2vw;
    }

    .left-nav-button{
      padding: 0px var(--items-padding-width);
      margin-left: 25px;
      // border-right: var(--items-border-size) solid white;
      height: 50%;

    }
  }
  .navbar .app-menu {
    display: flex;
    height: var(--nav-bar-height);
    align-items: center;
    padding-right: 5.0em;
      font-size: 0.9vw;

    .nav-button{
      padding: 0px var(--items-padding-width);
      margin-left: 2vw;
      // border-right: var(--items-border-size) solid white;
      height: 50%;

      a{
        padding-left: 20;
        margin-left: -4vw;
        line-height: calc(var(--nav-bar-height)/2);
        font-size: 1.2vw;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .navbar {

    flex-direction: column;
    position: fixed;
    margin-bottom: 0;
    width: 90%;
    margin-left: 10%; 
    height: 100vh;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out 0.1s;
    -webkit-transition-property: transform 0.2s ease-in-out 0.1s; /* Safari */

     .close-menu {
       padding-top: 5%;
       padding-bottom: 5%;
       margin-right: -50%;
       display: flex;
       font-family: 'BebasNeue-Bold';
       font-size: 6vh;
        color: black;
        justify-content: space-between;


        .burger-menu {
           background:url(/assets/images/menu_burger.png);
           background-size: 4vh; 
           background-repeat: no-repeat;
           color: red;
           height: 4vh;
           width: 4vh;
           margin-top: 2.5vh;
           margin-left: 10vh;  

             -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;

          &:hover {
      transform: scale(1.2);
      -moz-transform: scale(1.2);
    }
    a {
      display: block;
      height: var(--nav-bar-height);
    }

        }


    }

    .app-logo {
      width: 75%;
      background-color: white;     
      position: relative; //when is open
      background-size: 50%; //when is open
      right: -5vw;
      margin-top: -10%;
    }

    .app-menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 25%;
      a {
        font-size: 3vh;
      }

      .nav-button {
        border-top: calc(var(--items-border-size)/2) solid white;
        padding: calc(var(--items-padding-height) * 5) var(--items-padding-width);
      }
    }

    .left-menu {
       flex-direction: column;
       align-items: center;
       justify-content: center;
       text-align: center;
       margin-top: -5%;
      a {
        font-size: 3vh;

      }

      .left-nav-button {
        border-top: calc(var(--items-border-size)/2) solid white;
        padding: calc(var(--items-padding-height) * 5) var(--items-padding-width);
      }
    }
  }
}
