$background-color: rgba(247,247,247,1);

.visit-us {
   /*background: $background-color;
   width: 100%;
     width: 100%;
   display: inline-block;
   height: auto;
  position: absolute;*/


  .visit-us-container {
   /*margin-top: 8vw;
   padding-bottom: 25vw;*/
   
    .page-header {
        /*width: 100%;
        height: auto;
        display: block;
        padding-bottom: 2%;*/

     .header-name {
        /*margin-top:1%;
        margin-bottom: 1%;
        width: 40%; 
        height: 6vw;
        margin-left: 7.5vw;
        background:url(/assets/images/background_button_visit_us.png);
        background-size:20.5vw; 
        background-repeat: no-repeat;*/

          h1 {
           /*height: 100%;
            font-family: 'BebasNeue-Bold';
            font-size: 3vw;
            color: white;
            padding-top: 3%;
            padding-bottom: 3%;
            padding-left: 7.5%;
            padding-right: 7.55%;*/
           }
         }

         .header-description {
         /*padding-left: 7.5vw;*/
         
          
          h1 {
           /*height: 100%;
            font-family: 'BebasNeue-Bold';
            font-size: 1.7vw;
            color: black;
            width: 45%;
            padding-bottom: 1%;*/
           }
         }

        .header-divider{
            /*position:relative;
            background: #E65B05;
            height: 5px;
            width: 10vw;
            margin-top: -5%;
            left: 52vw;*/
        }
    }

    .page-detail {

      /*width: 100vw;
      height: 40vw;
      display: flex;
      flex-wrap: nowrap;*/

  .right-content {
        /*width: 50%;
        height: 100%;*/
        
        .description-title {
          /*margin-left: 2vw;
          display: flex;
          flex-wrap: nowrap;*/

            h1 {
            /*height: 100%;
            font-family: 'BebasNeue-Bold';
            font-size: 1.7vw;
            color: black;
            padding-top: -2%;
            width: 65%;*/
            
           }

           .label-icon {
             /*margin-left: 1vw;
             background: url(/assets/images/visit_us_page_detail_picture.png);
             height: 2vw;
             width: 3vw;
             background-size: 100%;*/

           }
        }

        .description-picture {  
          /*margin-top: 2vw;     
          margin-left: 2vw;   
          background: url(/assets/images/sign-up-membership-detail-picture.png);
          width: 89%;
          height: 67.5%;*/
        }      
      } 

      .left-content {
        /*width: 43vw;
        height: 80%;
        margin-left: 7vw;
         display: flex;
         flex-wrap: wrap;
         align-items: flex-start;
         margin-top: 1vw;*/

         .form-field-big {
           /*margin: 0.5vw;
           width: 90%;
           height: 52.5px;*/

           input {
             /*width: 285%;
                border: 0px solid $background-color;
              -webkit-text-fill-color: clear;;
                -webkit-box-shadow: 0 0 0px 0px $background-color inset;
              transition: background-color 5000s ease-in-out 0s;
            border-bottom: 0.5px solid #979797;*/
           }
         }

         .form-field-medium {
           /*margin: 0.5vw;
           width: 44%;
           height: 52.5px;*/

                  input {
                    /*width: 125%;
                      border: 0px solid $background-color;
                  -webkit-text-fill-color: clear;
                      -webkit-box-shadow: 0 0 0px 0px $background-color inset;
                    transition: background-color 5000s ease-in-out 0s;
                  border-bottom: 0.5px solid #979797;*/
           }
         }

          .subscribe-button {
            /*width: 14vw;
            height: 4.5vw; 
            background: rgba(28,28,28,1);
            border-radius: 0.4vw;
            
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);      
            margin-left: 2.2vw;
            margin-top: 3.3vw;
             
            padding-top: 5px;
            padding-bottom: 2px;*/

            h1{
              /*text-align: center;
              font-family: 'BebasNeue-Bold';
              font-size: 2vw; 
              width: 120%;
              margin-left: -12%;
              margin-top: 7%;
              color: white;*/
              //background: red;

            }
            


            .subscribe-button-background-borders {
            /*content: url('/assets/images/background-boarder-do-here.png');
            left: -4vw;
            bottom: 5.5vw; 
            width: 17vw;
            height: 8vw;
            position: relative;*/
          }


          &:hover {
            /*transform:scale(1.1,1.1);
             transition: transform 0.1s, width 0.1s ease-in;*/
           }
        }

      }
    }
  }
}


/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    
}

//safari
_:-webkit-full-screen:not(:root:root), .advantage-do-it-buttom-background-borders {		

}

@media screen and (min-width:600px){

    .visit-us {
    background: $background-color;
    width: 100%;
      width: 100%;
    display: inline-block;
    height: auto;
    position: absolute;


    .visit-us-container {
    margin-top: 8vw;
    padding-bottom: 25vw;
    
      .page-header {
          width: 100%;
          height: auto;
          display: block;
          padding-bottom: 2%;

      .header-name {
          margin-top:1%;
          margin-bottom: 1%;
          width: 40%; 
          height: 6vw;
          margin-left: 7.5vw;
          background:url(/assets/images/background_button_visit_us.png);
          background-size:20.5vw; 
          background-repeat: no-repeat;

            h1 {
            height: 100%;
              font-family: 'BebasNeue-Bold';
              font-size: 3vw;
              color: white;
              padding-top: 3%;
              padding-bottom: 3%;
              padding-left: 7.5%;
              padding-right: 7.55%;
            }
          }

          .header-description {
          padding-left: 7.5vw;
          
            
            h1 {
            height: 100%;
              font-family: 'BebasNeue-Bold';
              font-size: 1.7vw;
              color: black;
              width: 45%;
              padding-bottom: 1%;
            }
          }

          .header-divider{
              position:relative;
              background: #E65B05;
              height: 5px;
              width: 10vw;
              margin-top: -5%;
              left: 52vw;
          }
      }

      .page-detail {

        width: 100vw;
        height: 40vw;
        display: flex;
        flex-wrap: nowrap;

    .right-content {
          width: 50%;
          height: 100%;
          
          .description-title {
            margin-left: 2vw;
            display: flex;
            flex-wrap: nowrap;

              h1 {
              height: 100%;
              font-family: 'BebasNeue-Bold';
              font-size: 1.7vw;
              color: black;
              padding-top: -2%;
              width: 65%;
              
            }

            .label-icon {
              margin-left: 1vw;
              background: url(/assets/images/visit_us_page_detail_picture.png);
              height: 2vw;
              width: 3vw;
              background-size: 100%;

            }
          }

          .description-picture {  
            margin-top: 2vw;     
            margin-left: 2vw;   
            background: url(/assets/images/sign-up-membership-detail-picture.png);
            width: 89%;
            height: 67.5%;
          }      
        } 

        .left-content {
          width: 43vw;
          height: 80%;
          margin-left: 7vw;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          margin-top: 1vw;

          md-input-container.md-default-theme.md-input-invalid .md-input, md-input-container.md-input-invalid .md-input{
                border-color: red;
                border-bottom-width: 1px;
                margin-bottom: -3px;
                }

          .form-field-big {
            margin: 0.5vw;
            width: 90%;
            height: 52.5px;

            input {
              width: 285%;
                  border: 0px solid $background-color;
                -webkit-text-fill-color: clear;;
                  -webkit-box-shadow: 0 0 0px 0px $background-color inset;
                transition: background-color 5000s ease-in-out 0s;
              border-bottom: 0.5px solid #979797;
            }
          }

          .form-field-medium {
            margin: 0.5vw;
            width: 44%;
            height: 52.5px;

                    input {
                      width: 125%;
                        border: 0px solid $background-color;
                    -webkit-text-fill-color: clear;
                        -webkit-box-shadow: 0 0 0px 0px $background-color inset;
                      transition: background-color 5000s ease-in-out 0s;
                    border-bottom: 0.5px solid #979797;
            }
          }

            .subscribe-button {
              width: 14vw;
              height: 4.5vw; 
              background: rgba(28,28,28,1);
              border-radius: 0.4vw;
              
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);      
              margin-left: 2.2vw;
              margin-top: 3.3vw;
              
              padding-top: 5px;
              padding-bottom: 2px;

              h1{
                text-align: center;
                font-family: 'BebasNeue-Bold';
                font-size: 2vw; 
                width: 120%;
                margin-left: -12%;
                margin-top: 7%;
                color: white;
                //background: red;

              }
              


              .subscribe-button-background-borders {
              content: url('/assets/images/background-boarder-do-here.png');
              left: -4vw;
              bottom: 5.5vw; 
              width: 17vw;
              height: 8vw;
              position: relative;
            }


            &:hover {
              transform:scale(1.1,1.1);
              transition: transform 0.1s, width 0.1s ease-in;
            }
          }

        }
      }
    }
  }

}

@media screen and (max-width:600px){

    .visit-us {
    background: $background-color;
    width: 100%;
    display: inline-block;
    height: auto;
    position: relative;


    .visit-us-container {
    padding-bottom: 25vw;
                  margin-top: 15vh;

      .page-header {
          width: 100%;
          height: auto;
          display: block;

      .header-name {
          margin-top:1%;
          width: 75vw; 
          height: 20.3vw;
          margin-left: 5vw;
          background:url(/assets/images/background_button_visit_us.png);
          background-size:100%; 
          background-repeat: no-repeat;

            h1 {
              font-family: 'BebasNeue-Bold';
              font-size: 10.5vw;
              color: white;
              padding-top: 4%;
              padding-left: 15%;
            }
          }

          .header-description {
            padding-left: 5vw;
            padding-top: 10vw;
          
            
            h1 {
              height: 100%;
              font-family: 'BebasNeue-Bold';
              font-size: 7vw;
              color: black;
              width: 95%;
            }
          }

          .header-divider{
              height: 0;
              width: 0;
          }
      }

      .page-detail {

        width: 100vw;
        height: auto;
        display: flex;
        flex-wrap: wrap;

    .right-content {
          width: 100%;
          height: auto;
          
          .description-title {
            margin-left: 5vw;
            display: flex;
            flex-wrap: nowrap;

              h1 {
              height: 100%;
              font-family: 'BebasNeue-Bold';
              font-size: 7vw;
              color: black;
              width: 80%;
              
            }

            .label-icon {
              margin-top: 20%;
              margin-left: -1vw;
              background: url(/assets/images/visit_us_page_detail_picture.png);
              height: 6vw;
              width: 9vw;
              background-size: 100%;
              background-repeat: no-repeat;

            }
          }

          .description-picture {  
            margin-top: 10vw;   
            margin-bottom: 0vw;    
            background: url(/assets/images/sign-up-membership-detail-picture.png);
            width: 100vw;
            height: 60vw;
            background-repeat:no-repeat; 
            background-size: cover;
          }      
        } 

        .left-content {
          width: 100%;
          height: 100%;
          margin-left: 5vw;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          margin-top: -2vw;

          md-input-container.md-default-theme.md-input-invalid .md-input, md-input-container.md-input-invalid .md-input{
                border-color: red;
                border-bottom-width: 1px;
                margin-bottom: -3px;
                }

          .form-field-big {
            margin: 0.5vw;
            width: 100%;
            height: 20vw;

            input {
              width: 180%;
              border: 0px solid $background-color;
              -webkit-text-fill-color: clear;;
              -webkit-box-shadow: 0 0 0px 0px $background-color inset;
              transition: background-color 5000s ease-in-out 0s;
              border-bottom: 0.5px solid #979797;
            }
          }

          .form-field-medium {
            margin: 0.5vw;
            width: 100%;
            height: 20vw;

                    input {
                      width: 180%;
                      border: 0px solid $background-color;
                      -webkit-text-fill-color: clear;
                      -webkit-box-shadow: 0 0 0px 0px $background-color inset;
                      transition: background-color 5000s ease-in-out 0s;
                      border-bottom: 0.5px solid #979797;
                    }
          }

            .subscribe-button {
              width: 54vw;
              height: 18vw; 
              background: rgba(28,28,28,1);
              border-radius: 0.4vw;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);      
              margin-left: 18%;
              margin-right: 20%;
              margin-top: 15vw;
              margin-bottom: 20vw; 

              h1{
                text-align: center;
                font-family: 'BebasNeue-Bold';
                font-size: 7vw;
                color: white;
                width: 100%;
                margin-top: 4%;
                line-height: 7vw; 
              }
              


              .subscribe-button-background-borders {
                content: url('/assets/images/background-boarder-do-here.png');
                left: -18vw;
                bottom: 20vw; 
                width: 68vw;
                height: 32vw;
                position: relative;
            }


            &:hover {
              transform:scale(1.1,1.1);
              transition: transform 0.1s, width 0.1s ease-in;
            }
          }

        }
      }
    }
  }

}
