.work-space-rental-types-container {
    background: white;
    height: auto;

    .divider {
        width: 100%;
        height: 20vw;
        display: block;
        .divider-rect{

            position:relative;
            top: 75%;
            background: black;
            height: 5px;
            width: 10vw;
            left: 7.5vw;
        }
    }
}