$item-width: 25vw;

@keyframes fadeIt {
  0%   { opacity: 0 }
  100% { opacity: 1 }
}

    .work-space-types-spaces-container {

        /*padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        padding-top: 5%;
        background: #f7f7f7;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;*/

        .work-space-types-spaces-content-item {
            // background-repeat: no-repeat;
            /*width: $item-width;
            display: inline-block;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 40px 0 rgba(0, 0, 0, 0.4);
            border-radius: 2px;*/

            .work-space-types-spaces-content-background-image {
                
                /*height: calc(25vw/1.2174940898);*/
                
                .work-space-types-spaces-content-background-filter {
                      /*width: $item-width;
                     height: $item-width;
                       background-size: contain;
                       background-repeat: no-repeat;
                       position: absolute;
                        transition: visibility 400ms linear 0ms, opacity 400ms;
                        -webkit-transition: visibility 400ms linear 0ms, opacity 400ms;*/

                }
            }

            .work-space-types-spaces-content-title{
                /*position: relative;
                // margin-top: -1vw;
                height: auto;
                width: auto;
                align-items: center;
                justify-content: center;
                vertical-align: bottom;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;*/
                
            }

            .description {
                /*width: 100%; 
                height: auto;
                background: white;*/
                h1 {
                    /*padding-left: 7%;
                    padding-right: 7%;
                    padding-top: 5%;
                    height: 100%;
                 font-family: 'aleo-regular-webfont';
                    font-size: 1vw;
                    color: black;
                    text-align: justify;*/

                    
                }

                .work-space-types-spaces-content-button{
                    /*position: relative;
                    // margin-top: 5%;
                    background: white;
                    height: auto;
                    width: 100%;
                    align-items: left;
                    background-size: cover;*/
                    h1 {
                        /*margin-top:-22%;
                        margin-left: -2vw;
                        font-family: 'BebasNeue-Bold';
                        font-size: 1.3vw;
                        color: white;
                        text-align: center;*/
                    }
     
                }
            }
 
            
        }

    }

@media screen and (min-width: 600px){
    
    .work-space-types-spaces-container {

        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        padding-top: 5%;
        background: #f7f7f7;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;

        .work-space-types-spaces-content-item {
            // background-repeat: no-repeat;
            width: $item-width;
            display: inline-block;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 40px 0 rgba(0, 0, 0, 0.1);
            border-radius: 2px;

            .work-space-types-spaces-content-background-image {
                
                height: calc(25vw/1.2174940898);
                
                .work-space-types-spaces-content-background-filter {
                      width: $item-width;
                     height: $item-width;
                       background-size: contain;
                       background-repeat: no-repeat;
                       position: absolute;
                        transition: visibility 400ms linear 0ms, opacity 400ms;
                        -webkit-transition: visibility 400ms linear 0ms, opacity 400ms;

                }
            }

            .work-space-types-spaces-content-title{
                position: relative;
                // margin-top: -1vw;
                height: auto;
                width: auto;
                align-items: center;
                justify-content: center;
                vertical-align: bottom;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                
            }

            .description {
                width: 100%; 
                height: 32vw;
                background: white;
                h1 {
                    padding-left: 10%;
                    padding-right: 10%;
                    padding-top: 5%;
                    height: 100%;
                    font-family: 'aleo-regular-webfont';
                    font-size: 1.2vw;
                    color: black;
                    text-align: left;
                    line-height: 2vw;

                    
                }

                .work-space-types-spaces-content-button{
                    position: relative;
                    padding-bottom: 10%;
                    background: white;
                    height: auto;
                    width: 100%;
                    align-items: left;
                    background-size: cover;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.2);
                    h1 {
                        margin-top:-22%;
                        margin-left: -2vw;
                        font-family: 'BebasNeue-Bold';
                        font-size: 1.3vw;
                        color: white;
                        text-align: center;
                    }
     
                }
            }
 
            
        }

    }

}

@media screen and (max-width: 600px){

    $item-width: 80vw;
    
    .work-space-types-spaces-container {

        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        padding-top: 5%;
        background: #f7f7f7;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-flow: column;
        align-items: center;
        position: relative;

        .work-space-types-spaces-content-item {
            // background-repeat: no-repeat;
            margin-top: 10%;
            width: $item-width;
            display: inline-block;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.2);
            border-radius: 2px;

            .work-space-types-spaces-content-background-image {
                
                height: calc(80vw/1.2174940898);
                
                .work-space-types-spaces-content-background-filter {
                      width: $item-width;
                     height: $item-width;
                       background-size: contain;
                       background-repeat: no-repeat;
                       position: absolute;
                        transition: visibility 400ms linear 0ms, opacity 400ms;
                        -webkit-transition: visibility 400ms linear 0ms, opacity 400ms;

                }
            }

            .work-space-types-spaces-content-title{
                position: relative;
                // margin-top: -1vw;
                height: auto;
                width: auto;
                align-items: center;
                justify-content: center;
                vertical-align: bottom;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                
            }

            .description {
                width: 100%; 
                height: auto;
                background: white;
                h1 {
                    padding-left: 7%;
                    padding-right: 7%;
                    padding-top: 5%;
                    height: 100%;
                    font-family: 'aleo-regular-webfont';
                    font-size: 5vw;
                    color: black;
                    text-align: justify;

                    
                }

                .work-space-types-spaces-content-button{
                    position: relative;
                    // margin-top: 5%;
                    background: transparent;
                    height: auto;
                    width: 115%;
                    align-items: left;
                    background-size: cover;
                    padding-bottom: 10%;
                    margin-left: -7%;
                    h1 {
                        margin-top:-24%;
                        margin-left: -5vw;
                        font-family: 'BebasNeue-Bold';
                        font-size: 5.3vw;
                        color: white;
                        text-align: center;
                    }
     
                }
            }
 
            
        }

    }

}
