    .work-space-plans-container {
        padding: 6vw;
        background: rgba(239,239,239,1);
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;

        .border-background {
                                        content: url('/assets/images/workspace-table-plans-border-background.png');
                                            margin-left: -90.5%;
                                        // margin-top: -35%;    
                                        // background: green;   
                                        margin-top: -3%; 
                                            position: absolute;
                                            height: 95%;
                                            width: 95%;
        }
              

}

