    .work-space-plans-container {
        padding: 6vw;
        background: #F7F7F7;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
}

