    .work-space-plans-container {
        padding: 6vw;
        background: #f7f7f7;
        width: 100%;
        height: auto;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;

        .border-background {
            content: url('/assets/images/workspace-table-plans-border-background.png');                                        // background: green;                             
            position: absolute;
            height: 160vw;
            width: 95vw;
            right: 3vw;
                                            
        }
}


/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
     .border-background { 
         margin-top: 0vw;    
         margin-left: 0vw;
     }
}

//safari
_:-webkit-full-screen:not(:root:root), .border-background {		
         margin-top: -3vw;    
         margin-left: -3vw;
}