image: node:5.10.0
cache:
  paths:
  - node_modules/
all_tests:
  script:
   - npm install
   - npm test

production:
  type: deploy
  script:
  - apt-get update -qy
  - echo "Y" |apt-get install libssl-dev
  - apt-get install -y rubygems
  - gem install dpl
  - dpl --provider=heroku --app=a55labwebfrontend-production --api-key=$HEROKU_PRODUCTION_API_KEY

  only:
  - master

staging:
  type: deploy
  script:
  - apt-get update -qy
  - echo "Y" |apt-get install libssl-dev
  - apt-get install -y rubygems
  - gem install dpl
  - dpl --provider=heroku --app=a55labwebfrontend-staging --api-key=$HEROKU_PRODUCTION_API_KEY

  only:
  - dev
