<div class="work-space-opnion-header-container">

        <div class="divider">
                <div class="divider-rect">
                </div>
        </div>

        <div class="title">
                <h1>{{contentObject.title}}</h1>
                <div class="title-image">
                </div>
        </div>
</div>
