<div class="work-space-plans-container" style="display: {{displayType}};">
    <div class="border-background">
    </div>

    {{#each selectedPlan as |plan|}}
        {{work-space.work-space-plans-content-item contentObject=plan}}
    {{/each}}
  
</div>