<div class="knowledge-events-container">

    <div class="divider">
        <div class="divider-rect">
        </div>
    </div>

    <div class="title">
        <h1>
            SAIBA DOS EVENTOS QUE ESTÃO ROLANDO
        </h1>
    </div>

    <div class="knowledge-events-container">
        {{#each events as |event|}}
            {{knowledge.knowledge-events-content-item eventObject=event}} 
        {{/each}}
    </div>
</div>