
<div class="home-page-container">

    <div class="background-image">
      <div class="background-filter"> </div>
    </div>

  <div class="presentation-container">
      <h1> SONHE. FAÇA. COMPARTILHE. </h1>
      <h2> Somos uma Co-lab que oferece comunidade, espaço e conhecimento que atendem às necessidades de uma nova geração de trabalhadores: mais criativos, colaborativos e inquietos. </h2>
  </div>

  <div class="actions-container">

    <div class="action-left"> COMUNIDADE</div>
    <div class="hover-content-left"> </div>

    <div class="action-center0"> ESPAÇO DE TRABALHO</div>
    <div class="hover-content-center0">  </div>

    <div class="action-center1"> CONHECIMENTO </div>
    <div class="hover-content-center1">  </div>

    <div class="action-right"> CONTATO </div>
    <div class="hover-content-right">  </div>

  </div>





  {{top-bar}}

</div>
