
<div class="knowledge-container">
      {{top-bar.nav-bar-control}}
     {{knowledge.knowledge-fixed-background}}
     {{knowledge.knowledge-detail-content}} 
     {{bottom-bar.bottom-bar backgroundColor="#AC0049"}}

</div>



