
<div class="home-page-container">
      
  <h1> ok foi  {{model.count}} </h1>

   {{#each model as |user|}}
          <h1> foi </h1>
    {{/each}}

    {{top-bar.nav-bar-control showLeftMenu=false}}

</div>
