
<div class="work-space-container">
    
    {{top-bar.nav-bar-control}}
    {{work-space.work-space-fixed-background}}
    {{work-space.work-space-detail-content}}
    {{bottom-bar.bottom-bar backgroundColor="#5A7DBB"}}
</div>



